.secondary-tabs
  margin: 40px 0 0
  li
    border-top: 1px solid $grey-17
    a
      display: block
      padding: 10px

.secondary-with-tabs
  box-shadow: -1px -1px 5px $grey-5
  background-color: $light-blue-2
  margin: 0 0 10px
  padding: 10px
  .hidden
    display: block
