$container-width: 90%;

%header--push {
  padding-top: $header-height;
}

#wrapper {
  @extend %header--push;
}

.container {
  @extend %clearfix;
  margin-left: auto;
  margin-right: auto;
  position: relative;
  padding: 0 $gutter-width / 2;
  
  @include respond-to(desktop, true){
    width: calc(100% - 270px);
  }
}
