.ustyle__header {
  @extend %clearfix;
  z-index: 15;
  padding: .55em;

  @include respond-to(tablet, true) {
    position: fixed;
    width: $sidebar-width;
    padding: 1.45em .55em;
    border-right: 1px solid $c-bordergrey;
  }
}
