.ustyle__header {
  @extend %clearfix;
  z-index: 15;
  background-color: $c-cyan;
  padding: .55em;

  @include respond-to(tablet, true) {
    width: $sidebar-width;
    position: fixed;
    padding: 2.45em .55em;
  }
}
