/* structure */
.tag, .guide, .post, .author-index, .category, .archive
  header, nav
    margin-left: 0
    margin-right: 0
  a:hover
    color: $blue-16

.eight-col
  margin: 0 20px 20px 0
  // width: 634px
  
.three-col
  // width: 224px
  margin: 0 0 0 40px
  
/* main elements */
h1
  font-size: 36px
  line-height: 36px

h2, blockquote p, .standard-heading
  font-size: 24px

h2, blockquote p
  margin-bottom: 10px

blockquote
  margin-left: 80px
  p
    line-height: 30px
    max-width: none

/* category article list */
ul.articles
  img
    margin-bottom: 3px
  li
    padding-top: 3px
    padding-left: 3px
    margin-bottom: 57px
  a:hover
    h3
      color: $blue-10
    img
      outline: 3px solid $yellow-3
    &:visited
      h3
        color: $blue-4

/* comments */
section.comments
  .tools
    a:hover
      color: $blue-16

/* supplier index */
.supplier-index
  .eight-col
    margin-right: 0
    width: 654px !important
    h2
      font-size: 18px
  .big-six, .other-suppliers
    margin-bottom: 30px
    img
      max-width: none
  .big-six
    li
      margin-right: 12px !important
      width: 210px
      &.edge
        margin-right: 0 !important
  .other-suppliers
    li
      width: 142px
  .main-content .articles .featured img
    margin: 0
    
/* guide index */
ul.featured-guides
  .two-col
    margin-right: 20px
    width: 22%
    a.more
      min-height: 2.5em
  .non-desktop-edge
    margin-right: 20px !important

/* archive */
.archive
  header
    margin-bottom: 40px
    
.month
  li
    time
      float: left
      width: 170px
    ol
      overflow: hidden
  a
    padding-right: 55px
    &:hover
      span
        background-color: $grey-24
  h2
    margin-bottom: 25px

/* right hand column */
aside
  padding-left: 40px
  margin-left: 40px
  section
    margin-bottom: 50px

article, section.comments, section.comment-form
  margin-bottom: 50px

article
  h1
    margin-bottom: 15px
  .strap
    font-size: 24px
    line-height: 30px
    margin-bottom: 20px
    max-width: 630px
  figure
    margin-bottom: 30px
  p
    max-width: 470px
    margin-bottom: 25px

/* postcode form */
section.postcode, section.cta
  margin-bottom: 25px
  form, div
    padding-bottom: 25px
  input
    margin-bottom: 0
  button
    float: none

.tag, .guide, .post, .category
  header
    h1
      padding: 20px 20px 10px
    .byline
      padding: 0 20px 10px
      
  section.share
    .twitter-share-button, .fb-like
      margin-right: 15px

.tag, .guide, .post, .author-index, .category
  header
    margin-bottom: 30px
  section.share, section.blogroll
    width: 224px

.category
  header
    margin-bottom: 50px
    
.post
  header
    margin-bottom: 20px
    .byline
      padding: 0
    h1
      padding-left: 0
      max-width: 480px
    
.author-index
  header
    margin-bottom: 50px
  .catalog
    li
      margin-bottom: 65px
      width: 140px
      &:hover
        h3
          color: $blue-16
    





