.grid-insight
  @extend %clearfix
  margin-bottom: 1.5em
  
  .inner,.grid-insight-nowrap,.grid-insight-wrap
    padding: em(5px)
    background-color: $c-lightgrey
    border: 1px solid $c-darkgrey
  .grid-insight-nowrap,.grid-insight-wrap
    border: 1px solid $c-navy

  p
    margin: 0


.grid-example
  @extend %clearfix
  margin-bottom: 1.5em
  
  .inner
    @extend %heading-font-bold
    padding: em(5px)
    background-color: $c-lightgrey
    border: 1px solid $c-darkgrey
