.styleguide-block
  padding-top: 2em
  padding-bottom: 2em
  border-bottom: 2px solid $grey-10
  border-color: $grey-10
  position: relative

.styleguide-file
  position: absolute
  right: 0
  top: - 3em
  background-color: $c-lightgrey
  border-radius: 2px
  border: 1px solid darken($c-lightgrey, 10%)
  padding: 2px 7px
  
  +respond-to(desktop, true)
    top: -2em

.styleguide-title
  text-transform: capitalize

.modifier-block 
  @extend %clearfix
  padding-top: 2em
  padding-bottom: 2em
  border-top: 1px solid $grey-10
  position: relative
  clear: both

  &:first-child
    margin-top: 2em

code
  font-family: "Inconsolata", sans-serif
  font-size: 0.95em
  background-color: $grey-9
  border: 1px solid $grey-10
  padding: 1px 5px
  display: inline-block
  line-height: 1em
  margin: 0 2px

.modifier-block__class
  position: absolute
  top: -1px
  left: -1px

.modifier-block__html
  @extend %clearfix

.styleguide-description
  position: relative