@import "mixins/base"
@import "basic/variables"

@import "grid/tablet"
@import "grid/desktop"
@import "grid/final"
@import "components/buttons-ie"

.ie6 
  ul
    margin-left: 0
  form li
    zoom: 1
  .progress
    li
      text-align: left
      span
        margin: 0

.progress
  position: relative
  z-index: 100
  li
    span
      border-radius: 16px
      @if $has-pie
        behavior: url($pie)
      position: relative
      z-index: 100000