.main-content
  padding-bottom: 30px

.twelve-col
  clear: both
  margin-bottom: 20px

.eight-col, .four-col
  float: left

.eight-col
  margin-right: 2%
  width: 64%
  
.four-col
  width: 34%

.page-intro, .article-intro, .author-intro
  h1
    font-size: 36px
  h2
    font-size: 24px

.tags
  margin: 40px 0
  ul
    display: inline
  p, li
    display: inline
    padding-right: 3px

.page-intro
  margin-bottom: 40px
  
.author-intro
  img.author
    position: absolute
    right: 0
    bottom: 0

.author-body, .article-list
  width: auto

.article-list
  margin-bottom: 20px
  img
    border: 1px solid $grey-5
    display: block
    float: right
    margin-left: 10px
    width: 40%
  li
    padding-right: 0
    h3
      font-size: 18px
    &.last
      margin-bottom: 5px
    &.listing
      border: 0
      margin-bottom: 5px
      position: relative
      .summary
        clear: none
        float: left
        width: 66%
      .meta
        color: $grey-12
        font-size: 12px
        margin-bottom: 0
      h3
        font-size: 16px
      span
        position: absolute
        top: 10px
        left: 10px
      img
        float: left
        width: 30%
        margin: 0 10px 0 0

.pagination
  border-top: 1px dotted $grey-12
  padding-top: 10px
  margin-bottom: 40px
  li
    width: 25%
    &.next
      padding: 0
    &.current
      display: list-item
      text-align: center
      width: 47%
  
.categories
  ul
    margin-top: 30px
    padding: 0
    li
      margin: 0 2%
      width: 29%
      li
        margin-right: 0
        width: auto
    li.edge
      margin-right: 3% !important
  
