<!DOCTYPE html>
<html>
<head>
  <meta http-equiv="content-type" content="text/html;charset=UTF-8" />
  <title>{{project.name}} styleguide</title>  
  <link rel="stylesheet" href="assets/js/prettify/prettify.css?v=1" type="text/css" />
  <link rel="stylesheet" href="assets/css/styles.css?v=1" type="text/css" />
  <script src="assets/js/prettify/prettify.js?v=1"></script>
</head>
<body onload="prettyPrint()">
  
  <header>
    <h1>{{project.name}} styleguide</h1>
    <p class="version">v.<strong>{{project.version}}</strong></p>
    <p class="description">{{project.description}}</p>
  </header>

  <div id="wrapper">
    <div class="styleguide">
      {{#section}}
      <div class="file">     
        {{#blocks}}
          {{> style_block}}
        {{/blocks}}
      </div>
      {{/section}}
    </div>
  </div>
</body>
</html>
