<div class='nav'>
  <a class='logo' href='/' id='logo'>Styleguide</a>
  <div class='nav__wrapper'>
    <nav class='nav__container'>
      <div class='nav__set-container'>
        <ul class='nav__set'>
          {{#sections}}
            {{name}}
          {{/sections}}
        </ul>
      </div>
    </nav>
  </div>
</div>