/* structure */
.tag, .guide, .post, .author-index, .category, .archive
  min-width: 700px
  header
    margin: 0 2% 20px
  nav
    margin: 15px 2%

.post, .author-index
  header
    margin-left: 0
    margin-right: 0

.eight-col
  margin: 0 5% 0 2%
  width: 62%
  
.three-col
  margin: 0 4% 0 4%
  width: 22%

/* main elements */
article
  p, li
    line-height: 21px

h1
  font-size: 30px
  line-height: 30px
  margin-bottom: 0

h2, blockquote p, .standard-heading
  font-size: 20px
  line-height: 24px

blockquote
  margin-left: 40px

/* main article */
article
  div.comments
    line-height: 60px
  .strap
    font-size: 20px
  ol, ul
    li
      b
        line-height: 21px

/* category article list */
ul.articles
  li
    margin-bottom: 50px
  img
    float: left
    margin-right: 20px
    width: auto
  time
    float: right
  h3
    margin-bottom: 5px
  h3, p
    margin-left: 160px
  p
    line-height: 18px

/* supplier index */
.supplier-index
  .big-six, .other-suppliers
    li
      margin-right: 3% !important
      text-align: left
      width: 47%
  .other-suppliers
    li
      width: 30%
  .main-content
    .articles
      p
        margin-left: 0

/* guide index */
.js
  .guide-index
    nav.guide-tabs, nav.guide
      border-bottom: 3px solid $blue-13
      li
        +us-linear-gradient($white, $grey-30)
        +us-border-top-radius(8px)
        border: 1px solid $grey-19
        color: $grey-12
        font-weight: bold
        margin-right: 2px
        margin-left: 5px
        padding: 4px 10px
        width: auto
        &.current
          +us-linear-gradient($blue-22, $blue-13)
          border-color: $blue-13
          color: $white

  .guide-index
    .hidden
      position: absolute
      left: -999em
      
ul.featured-guides
  margin-bottom: 40px
  .four-col
    margin-bottom: 40px
    width: 48%
    
/* archive */
.month
  margin-bottom: 40px
  span
    right: 0
  a
    padding-top: 5px
    padding-bottom: 7px
    
/* right hand column */
aside
  background-image: url(../../images/content/shadow.png)
  background-position: 0 0
  border-left: 1px solid $grey-17
  clear: right
  min-height: 1050px
  padding-top: 0
  padding-left: 30px
  section
    margin-bottom: 60px
  &.three-col
    float: right
    
/* social icons */
section.share, section.blogroll
  float: right
  margin-bottom: 60px
  width: 22%
  .button-container
    margin-left: 0
  .twitter-share-button, .fb-like
    margin-right: 5px
    margin-bottom: 0

section.comment-form, section.postcode, section.cta
  input
    width: 250px
  textarea
    width: 420px

/* comments */
section.comments
  li
    padding-bottom: 20px
    margin-bottom: 20px
    position: relative
  .tools
    float: none
    position: absolute
    top: 0
    right: 0

  .reply
    margin-left: 80px

section.comment-form    
  form
    width: 430px
  button
    margin-right: 3px
    
section.comments, section.comment-form    
  h1
    margin-bottom: 20px

/* tweets */
section.tweets
  .twtr-widget .twtr-tweet
    margin-bottom: 20px !important

/* postcode form */
section.postcode, section.cta
  background: url(../../images/content/shadow-left.png) no-repeat bottom left
  background: url(../../images/content/shadow-left.png) no-repeat bottom left, url(../../images/content/shadow-right.png) no-repeat bottom right
  padding-bottom: 11px
  margin-left: 0
  label
    display: inline
    margin-bottom: 0
  form, div
    padding: 20px
    overflow: hidden
  h3
    font-size: 20px
    margin-bottom: 15px
  input
    width: 150px
    margin-right: 10px
    margin-left: 10px
    margin-bottom: 15px
  button
    float: right

section.postcode-column, section.cta-column
  p
    color: $white
    margin-bottom: 15px
  h3
    margin-bottom: 7px
    line-height: 1.1
  input
    margin: 6px 0

.intro
  img
    float: left
    margin-right: 20px

.tag, .guide, .post, .category
  header
    position: relative
  .byline-footer
    h3
      font-size: 18px
      margin-bottom: 10px

.post, .author-index
  header
    margin-bottom: 20px
  section.share, section.blogroll
    padding-top: 30px

.tag, .category, .guide
  header
    .title
      position: absolute
      top: 0
      left: 0
      width: 97%
    h1, .byline
      background-color: rgb(255,255,226)
      background-color: rgba(255,255,226,0.6)
      width: 100%
      padding: 10px
    .byline
      padding-top: 0
      font-size: 12px

.guide.guide-index, .tag, .guide, .category
  header
    img
      margin-bottom: 0
    .title
      top: auto
      bottom: 0
      width: auto
      h1
        background-color: $white
        padding: 20px 20px 0 0
        width: auto
    
.author-index 
  .catalog
    h2
      margin-bottom: 20px
    li
      float: left
      margin-right: 20px
      width: 21%
      &.edge
        margin-right: 0
  .intro 
    margin-top: 20px
    p
      margin-left: 175px
  figure
    span
      left: auto
      right: 0
    
    