.hidden
  display: none

.for-tablet, .non-mobile, .for-desktop
  display: none

.print-footer
  display: none !important

.main-content
  clear: left
  margin: 0

  h1, h2, h3
    font:
      family: $heading-font-bold
      weight: normal
      
  .font-bold
    font-family: $heading-font-bold
  .font-reg
    font-family: $heading-font-regular

  h1, h2, h3, h4, h5
    margin: 0
    padding: 0

  h1, h2, h3, h4
    color: $blue-1
    margin-bottom: 10px

  h1
    font-size: 24px

  h2
    font-size: 18px

  h3, h4, h5
    font-size: 14px

  table p
    color: $grey-1

  hgroup
    display: block

  fieldset
    border: 0
    margin: 0
    padding: 0

  a, .fl, .fake-link
    color: $blue-2
    cursor: pointer
    text-decoration: none
    &:hover
      color: $blue-3
    &:visited
      color: $blue-4
    &.help, &.inline-help
      width: 21px
      height: 18px
      background: url(../images/help.jpg) no-repeat
      float: right
      text-indent: -9999em
      overflow: hidden
      margin-top: 2px

  ul, ol
    padding-left: 0
    margin-left: 0
    li
      color: $grey-2

  ul li, ol li
    list-style-type: none
    padding-bottom: 10px

  .last
    border-bottom: 0
    margin-bottom: 0
    padding-bottom: 0

  hr
    color: rgba(0, 0, 0, .15)
    height: 0.4em
    background-color: rgba(0, 0, 0, .15)
    border: none

small
  color: $grey-3
  display: block
  font-size: 11px
  
p
  color: $grey-2
  font-size: 14px
  line-height: 1.3
  margin-top: 0

p.smaller
  font-size: 12px
  line-height: 1.5

p.help
  font-size: 12px
  line-height: 1.2

/* structure */
.secondary, .secondary-content
  background: $grey-4
  padding: 10px
  box-shadow: 0 -1px 5px $grey-5
  
.secondary-content
  background-color: $light-blue-2

/* forms */
.main-content
  form
    ul
      margin-top: 0
    li
      border-bottom: 1px solid $grey-6
      clear: left
      overflow: hidden
      padding: 10px 10px 15px
      &:last-child
        padding-bottom: 15px

      &.multi
        input[type=text], select
          min-width: 0
          margin-right: 10px
        ul
          overflow: hidden
          li
            border: 0
            clear: none
            float: left
            padding: 1px
            label
              position: absolute
              left: -999em

      &.stacked
        li
          float: none
          padding-bottom: 5px
          &:last-child
            padding-bottom: 0

    label
      color: $grey-7
      display: block
      font-size: 14px
      font-weight: bold
      margin-bottom: 8px
    .invert
      float: left
      width: 80%
      li
        background-color: $grey-8
        border: 1px solid $grey-9
        border-radius: 10px
        padding: 10px 1px 10px 10px
        margin-bottom: 10px
        &:last-child
          margin-bottom: 0
      label
        display: inline
        font-weight: normal
        margin-bottom: 0

/* error messages */
.main-content
  .error-list
    background-color: $light-yellow-1
    border: 2px solid $yellow-1
    padding: 5px
    margin: 0 0 10px
    li
      background: url(../images/warning.png) no-repeat 5px 0
      padding: 0 0 0 30px
      line-height: 1.4
      color: $red-2
      font-weight: bold
      font-size: 12px

  form
    li.error
      background-color: $light-yellow-2
      input
        border: 1px solid $red-2
      input, select
        float: left
      label
        color: $red-2
      .icon
        display: block
        padding: 3px 1px 1px 5px
      .invert
        input
          float: none
        .icon
          display: inline
          vertical-align: bottom

/* lists */
.main-content
  .numeric, .bulleted
    margin-left: 20px

  .numeric
    li
      list-style-type: decimal

  .bulleted
    li
      list-style-type: disc

/* progress indicator */
.progress-container 
  display: block
  margin: 0
  z-index: 12
  .progress 
    position: relative
    width: 70%
    height: 55px
    margin: 20px auto 0
    background: none
    overflow: visible
    &:before 
      content: ''
      display: block
      position: absolute
      top: 15px
      left: 0
      right: 0
      height: 1px
      border-top: 1px dotted #ccc
    li 
      position: absolute
      top: 0
      z-index: 1
      max-width: 90px
      margin-right: 0
      font-size: 12px
      text-align: center
      a, .a
        display: block
        width: 20px
        margin-left: -10px
      a:hover
        span
          background-color: #0091eb
          &:before
            color: #fff
      span 
        display: block
        width: 30px
        height: 30px
        margin: 0 auto 3px
        background-color: #eaf2f9
        border-radius: 16px
        font-family: "FS Elliot Web Regular", Helvetica, Arial, sans-serif
        font-size: 14px
        line-height: 30px
        text-align: center
      b
        display: block
        width: 60px
        margin: 0.5em 0 0 -15px
        text-align: center
        font-weight: normal
        &.prog-for-mobile
          display: block
        &.prog-not-mobile
          display: none
      &.first,&.second,&.third,&.fourth,&.fifth /* reset */
        position: absolute
        left: auto
        right: auto
        margin: 0
        max-width: 0
        width: 0
      &.first 
        left: 0
        width: 0
      &.last
        left: auto
        right: 0
        width: 0
      &.complete
        span
          position: relative
          background: #f0f0f0
          text-indent: -999em
          -webkit-transition: background-color 200ms
          -moz-transition: background-color 200ms
          transition: background-color 200ms
          &:before
            content: '\2714'
            position: absolute
            left: 0
            right: 0
            top: 0em
            color: #999
            display: block
            text-indent: 0
            font-family: uswitch-icon, meiryo, sans-serif
            text-align: center
      &.current
        span
          color: white
          background: #166ac3
          font-family: "FS Elliot Web Bold", Helvetica, Arial, sans-serif
          font-weight: normal
        b
          display: block
          max-width: 5em
          font-weight: bold
      &.complete 
        display: block
    &.three-steps
      li
        &.second
          left: 50%
    &.four-steps
      li
        &.second
          left: 33%
        &.third
          left: 66%
    &.five-steps
      li
        &.second
          left: 25%
        &.third
          left: 50%
        &.fourth
          left: 75%
    &.six-steps
      li
        &.second
          left: 20%
        &.third
          left: 40%
        &.fourth
          left: 60%
        &.fifth
          left: 80%

/* telephone number */
.telephone
  color: $blue-7
  font-size: 18px
  margin-bottom: 20px
  a
    color: $blue-7
  .num
    background: url(../images/telephone.png) no-repeat 0 2px
    display: none
    font-size: 28px
    font-weight: bold
    line-height: 28px
    padding-left: 20px
  .free
    display: block
  .type
    padding-left: 22px

/* tables */
table
  border-collapse: collapse
  margin-bottom: 20px
  width: 100%
  th
    text-align: left

.comparison
  margin-bottom: 20px
  width: auto
  table
    box-shadow: 3px 0 10px $grey-15
    margin: 0 15px 0
    width: auto
    thead tr
      border-bottom: 3px solid $blue-12
    tbody tr
      border-bottom: 3px solid $grey-15
    tr
      th.empty-header
        background-color: $blue-14
        border-left: 1px solid $blue-14
      td:first-child
        background-color: $white
        border-left: 1px solid $grey-15
        padding-left: 25px

    th
      background-color: $blue-14
      color: $white
      font-size: 12px
      padding: 10px 0
      text-align: center

    td, p
      color: $grey-2
      font-size: 12px
      line-height: 1.4
    td
      padding: 10px
      text-align: center
      &.img
        padding: 5px 10px
      &.product
        text-align: left
        a
          font-weight: bold
          display: block
          margin-bottom: 5px
        ul
          margin: 0
          li
            background: url(../images/tick-small.png) no-repeat 0 0
            padding-left: 20px
            padding-bottom: 4px
      &.action
        p
          margin-top: 5px
          line-height: 1.2
        b
          display: block
          font-size: 14px

      .amount
        color: $green-1
        font-size: 18px
        font-family: $normal-font-2
        font-weight: bold
        line-height: 1.2
        margin-bottom: 0

table.simple
  border: 1px solid $grey-5
  th
    background-color: $grey-19
    border-bottom: 1px solid $grey-5
  td
    border-bottom: 1px solid $grey-17
  td, th
    padding: 7px 5px
  tr:nth-child(even)
    background: $white
  tr:nth-child(odd)
    background: $grey-19
  tr:last-child td
    border-bottom: 1px solid $grey-5

#help-content
  padding-bottom: 10px
  position: absolute
  left: -999em

.help-sections
  display: none
  
.clearfix
  &:after
    clear: both
    content: ' '
    display: block
    font-size: 0
    line-height: 0
    visibility: hidden
    width: 0
    height: 0

* html .clearfix
  height: 1%
