@import "grid"
@import "../components/buttons"

.hidden
  display: none

.print-footer
  display: none !important

h1, h2, h3, h4, h5, h6,
ul, ol, li, 
p,
fieldset
  margin: 0
  padding: 0

fieldset, img
  border: none

li
  list-style-type: none

table
  th, td
    text-align: left
    font-weight: normal
  
.main-content
  padding: 20px 0
  
.secondary
  background: $grey-4 url(../images/shadow.png) top center no-repeat
  padding: 20px 0