.for-desktop
  display: inline-block

.for-tablet, .non-desktop
  display: none

.main-content
  padding-top: 20px
  .progress
    margin-top: 10px

/* forms */
.main-content
  form
    li
      padding-top: 15px
      padding-bottom: 25px

.secondary h3, .secondary p, .secondary ul
  margin-left: 0
  margin-right: 0

#help-content
  width: 820px

.main-content
  margin: 0 10px

.main-content, .secondary, .twelve-col, .comparison
  margin: 0 auto
  
.twelve-col, .comparison
  margin-bottom: 20px

.comparison
  max-width: 992px
  _width: 992px
  
.twelve-col
  max-width: 962px
  _width: 962px