.for-tablet, .non-mobile, .non-desktop
  display: inline-block

.for-mobile
  display: none

.secondary, .secondary-content
  background-image: url(../images/shadow.png)
  background-repeat: no-repeat
  background-position: top center
  padding-top: 40px
   
.main-content
  padding-top: 10px
  h1
    font-size: 36px

  h2
    font-size: 24px

  h3
    font-size: 18px

  h4, h5
    font-size: 14px

  form
    .invert
      li
        background: none
        border: 0
        clear: none
        float: left
        margin: 0 20px 0 0 
        padding: 0 1px 0 0
        
    select
      font-size: 14px

/* forms */
.main-content
  form
    li
      padding-top: 20px
      padding-bottom: 30px

.telephone
  .num
    display: block
  .free
    display: none

/* progress indicator */
.progress-container
  position: relative
  max-width: 960px
  margin: 0 auto
  padding: 20px 0
  .progress
    width: 55%
    margin: 20px auto
    li
      b
        width: 100px
        margin: 0.5em 0 0 -35px
        &.prog-for-mobile
          display: none
        &.prog-not-mobile
          display: block
      &.current b
        max-width: 15em


