$dullblue: #D3DDFF
$plum: #8A2166
$magenta: #E10174

@if $has-pie
  .btn
    box-shadow: inset 1px 10px 0 $white, 1px 1px 2px $grey-1
    -pie-background: linear-gradient(white, #eaeaea)
    text-shadow: none
    behavior: url($pie)
    &:hover
      box-shadow: 1px 10px 1px $white inset, 1px 1px 1px $grey-14, 0 0 0 4px $yellow-2
      behavior: url($pie)

  .btn:active
    box-shadow: 1px 2px 2px $grey-12 inset, -2px -2px 0 1px $yellow-3, 2px -2px 0 1px $yellow-3, -2px 2px 0 1px $yellow-3, 2px 2px 0 1px $yellow-3
    behavior: url($pie)

  .btn_big
    box-shadow: 1px 17px 1px $white inset, 1px 1px 2px $grey-1
    border-radius: 9px
    behavior: url($pie)

  .btn_red
    box-shadow: inset 1px 10px 0 $lightRed, 1px 1px 2px $grey-1
    -pie-background: linear-gradient($lightRed, $darkRed)
    behavior: url($pie)
    &:hover
      box-shadow: inset 1px 10px 1px $lightRed, 1px 1px 1px $grey-1, -2px -2px 0 1px $yellow-3, 2px -2px 0 1px $yellow-3, -2px 2px 0 1px $yellow-3, 2px 2px 0 1px $yellow-3
      behavior: url($pie)
    &:active
      box-shadow: inset 1px 2px 2px $darkRed, -2px -2px 1px 1px $yellow-3, 2px -2px 1px 1px $yellow-3, -2px 2px 1px 1px $yellow-3, 2px 2px 1px 1px $yellow-3
      behavior: url($pie)

  .btn_pink
    box-shadow: inset 1px 10px 0 $lightPink	, 1px 1px 2px $grey-12
    -pie-background: linear-gradient($lightPink, $darkPink)
    behavior: url($pie)
    &:hover
      box-shadow: inset 1px 10px 1px $lightPink, 1px 1px 1px $grey-5, -2px -2px 0 1px $yellow-3, 2px -2px 0 1px $yellow-3, -2px 2px 0 1px $yellow-3, 2px 2px 0 1px $yellow-3
      behavior: url($pie)
    &:active
      box-shadow: inset 1px 2px 2px $darkPink, -2px -2px 1px 1px $yellow-3, 2px -2px 1px 1px $yellow-3, -2px 2px 1px 1px $yellow-3, 2px 2px 1px 1px $yellow-3
      behavior: url($pie)

  .btn_purple
    box-shadow: inset 1px 10px 0 $lightPurple	, 1px 1px 2px $grey-12
    -pie-background: linear-gradient($lightPurple, $darkPurple)
    behavior: url($pie)
    &:hover
      box-shadow: inset 1px 10px 1px $lightPurple, 1px 1px 1px $grey-5, -2px -2px 0 1px $yellow-3, 2px -2px 0 1px $yellow-3, -2px 2px 0 1px $yellow-3, 2px 2px 0 1px $yellow-3
      behavior: url($pie)
    &:active
      box-shadow: inset 1px 2px 2px $darkPurple, -2px -2px 1px 1px $yellow-3, 2px -2px 1px 1px $yellow-3, -2px 2px 1px 1px $yellow-3, 2px 2px 1px 1px $yellow-3
      behavior: url($pie)

  .btn_midnightblue
    box-shadow: inset 1px 10px 0 $lightMidnightBlue, 1px 1px 2px $grey-12
    -pie-background: linear-gradient($lightMidnightBlue, $darkMidnightBlue)
    behavior: url($pie)
    &:hover
      box-shadow: inset 1px 10px 1px $lightMidnightBlue, 1px 1px 1px $grey-5, -2px -2px 0 1px $yellow-3, 2px -2px 0 1px $yellow-3, -2px 2px 0 1px $yellow-3, 2px 2px 0 1px $yellow-3
      behavior: url($pie)
    &:active
      box-shadow: inset 1px 2px 2px $darkMidnightBlue, -2px -2px 1px 1px $yellow-3, 2px -2px 1px 1px $yellow-3, -2px 2px 1px 1px $yellow-3, 2px 2px 1px 1px $yellow-3
      behavior: url($pie)

  .btn_skyblue
    box-shadow: inset 1px 10px 0 $lightSkyBlue, 1px 1px 2px $grey-1
    -pie-background: linear-gradient($lightSkyBlue, $darkSkyBlue)
    behavior: url($pie)
    &:hover
      box-shadow: inset 1px 2px 1px $lightSkyBlue, 1px 1px 1px $grey-1, -2px -2px 0 1px $yellow-3, 2px -2px 0 1px $yellow-3, -2px 2px 0 1px $yellow-3, 2px 2px 0 1px $yellow-3
      behavior: url($pie)
    &:active
      box-shadow: inset 1px 2px 2px $darkSkyBlue, -2px -2px 1px 1px $yellow-3, 2px -2px 1px 1px $yellow-3, -2px 2px 1px 1px $yellow-3, 2px 2px 1px 1px $yellow-3
      behavior: url($pie)

  .btn_orange
    box-shadow: inset 1px 10px 0 $lightOrange, 1px 1px 2px $grey-1
    -pie-background: linear-gradient($lightOrange, $darkOrange)
    behavior: url($pie)
    &:hover
      box-shadow: inset 1px 2px 1px $lightOrange, 1px 1px 1px $grey-1, -2px -2px 0 1px $yellow-3, 2px -2px 0 1px $yellow-3, -2px 2px 0 1px $yellow-3, 2px 2px 0 1px $yellow-3
      behavior: url($pie)
    &:active
      box-shadow: inset 1px 2px 2px $darkOrange, -2px -2px 1px 1px $yellow-3, 2px -2px 1px 1px $yellow-3, -2px 2px 1px 1px $yellow-3, 2px 2px 1px 1px $yellow-3
      behavior: url($pie)

  .btn_green
    box-shadow: inset 1px 10px 0 $lightGreen, 1px 1px 2px $grey-12 !important
    -pie-background: linear-gradient($lightGreen, $darkGreen)
    behavior: url($pie)
    &:hover
      box-shadow: inset 1px 10px 1px $lightGreen, 1px 1px 1px $grey-5, -2px -2px 0 1px $yellow-3, 2px -2px 0 1px $yellow-3, -2px 2px 0 1px $yellow-3, 2px 2px 0 1px $yellow-3
      behavior: url($pie)
    &:active
      box-shadow: inset 1px 2px 2px $darkGreen, -2px -2px 1px 1px $yellow-3, 2px -2px 1px 1px $yellow-3, -2px 2px 1px 1px $yellow-3, 2px 2px 1px 1px $yellow-3
      behavior: url($pie)

  .btn_magenta
    background: $magenta
    border-color: #8A2166
    -pie-background: linear-gradient(#FF0184, #E10174)

  .btn_plum
    background: $plum
    border-color: #8A2166
    -pie-background: linear-gradient(#A55389, #8A2166)

  .btn_dullblue
    color: #0C1424 !important
    background: $dullblue
    border-color: #B3C7EB
    -pie-background: linear-gradient(#D3DDFF, #B3C7EB)

  // IE7
  * + html 
    .btn
      padding: 3px 15px !important
    .btn_big
      padding: 5px 18px !important
