.logo
  +svg-background("uswitch", $background-position: "left center", $background-size: 45px)
  +link-colors($c-navy, $c-navy, $c-navy, $c-navy)
  z-index: 1000
  display: inline-block
  padding: 1em 0.5em
  padding-left: 55px
  font-weight: 700
  margin: 0 $gutter-width/2