// keyframes mixin
= keyframes($name)
  @-webkit-keyframes #{$name}
    @content
  @-moz-keyframes #{$name}
    @content
  @-ms-keyframes #{$name}
    @content
  @-o-keyframes #{$name}
    @content
  @keyframes #{$name}
    @content


= keyframeanimate($name, $time, $ease, $delay:0s)
  -webkit-animation: $name $time $ease
  -moz-animation:    $name $time $ease
  -o-animation:      $name $time $ease
  animation:         $name $time $ease

  -webkit-animation-delay: $delay
  -moz-animation-delay: $delay
  -o-animation-delay: $delay
  animation-delay: 0
