.us-container
  %h1.styleguide-title Anchor
  %p Anchor is a naive implementation of Tether by HubSpot. It creates an independent dropdown that is "anchored" to the bottom of the target element. We've decided to only support IE9+, as the uses of Tether throughout uSwitch are for progressive enhancement.

  %p Any element can be used as an anchor point. 

  :ruby
    @anchor = Haml::Engine.new("
    %span.example-anchor Click me!

    .us-anchor__target.example-anchor__target
      %p Kielbasa tenderloin spare ribs, andouille doner brisket chuck drumstick bresaola short loin pork t-bone ground round jowl. Ball tip pork loin doner tongue filet mignon biltong hamburger leberkas. Filet mignon kielbasa kevin short ribs, drumstick chuck shankle spare ribs tri-tip.

    ").render

  = @anchor
  .code-block__container
    %pre.code-block__code
      %code{class: :xml}= h @anchor

  .code-block__container
    %pre.code-block__code
      %code{class: :javascript}
        :plain
          new Anchor({
            anchor: document.querySelector(".example-anchor"),
            content: document.querySelector(".example-anchor__target")
          })