%h1 The grid

.grid-example
  .us-col-12
    12 columns

.grid-example
  .us-col-1
    1 col
  .us-col-11.last
    11 columns

.grid-example
  .us-col-2
    2 columns
  .us-col-10.last
    10 columns

.grid-example
  .us-col-3
    3 columns
  .us-col-9.last
    9 columns
  
.grid-example
  .us-col-4
    4 columns
  .us-col-8.last
    8 columns

.grid-example
  .us-col-5
    5 columns
  .us-col-7.last
    7 columns

.grid-example
  .us-col-6
    6 columns
  .us-col-6.last
    6 columns
