.us-container
  %h1 The grid
  
  .grid-example.us-grid-row
    .us-col-12
      .inner
        12 cols

  .grid-example.us-grid-row
    .us-col-1
      .inner
        1
    .us-col-11.last
      .inner
        11 cols

  .grid-example.us-grid-row
    .us-col-2
      .inner
        2 cols
    .us-col-10.last
      .inner
        10 cols

  .grid-example.us-grid-row
    .us-col-3
      .inner
        3 cols
    .us-col-9.last
      .inner
        9 cols
    
  .grid-example.us-grid-row
    .us-col-4
      .inner
        4 cols
    .us-col-8.last
      .inner
        8 cols

  .grid-example.us-grid-row
    .us-col-5
      .inner
        5 cols
    .us-col-7.last
      .inner
        7 cols

  .grid-example.us-grid-row
    .us-col-6
      .inner
        6 cols
    .us-col-6.last
      .inner
        6 cols
