%h1 The grid

.grid-example
  .us-col-12
    12 cols

.grid-example
  .us-col-1
    1
  .us-col-11.last
    11 cols

.grid-example
  .us-col-2
    2 cols
  .us-col-10.last
    10 cols

.grid-example
  .us-col-3
    3 cols
  .us-col-9.last
    9 cols
  
.grid-example
  .us-col-4
    4 cols
  .us-col-8.last
    8 cols

.grid-example
  .us-col-5
    5 cols
  .us-col-7.last
    7 cols

.grid-example
  .us-col-6
    6 cols
  .us-col-6.last
    6 cols
