---
title: uSwitch uGuide
---
.us-container    
  %section.colors
    %h1 Color palette

    %h4 Primary

    .us-grid-row
      .c-cyan.color-block.us-col-4
        .color-block__hex #99e2ff
        .color-block__var $c-cyan
      .c-blue.color-block.us-col-4
        .color-block__hex #174695
        .color-block__var $c-blue
      .c-navy.color-block.us-col-4
        .color-block__hex #1c1f4e
        .color-block__var $c-navy

    %h4 Secondary

    .us-grid-row
      .c-red.color-block.us-col-3
        .color-block__hex #D64226
        .color-block__var $c-red
      .c-green.color-block.us-col-3
        .color-block__hex #2AAA5B
        .color-block__var $c-green
      .c-lightgrey.color-block.us-col-3
        .color-block__hex #f4f4f4
        .color-block__var $c-lightgrey
      .c-darkgrey.color-block.us-col-3
        .color-block__hex #2f3335
        .color-block__var $c-darkgrey

    %h4 Tertiary

    .us-grid-row
      .c-yellow.color-block.us-col-3
        .color-block__hex #f1c40f
        .color-block__var $c-yellow
      .c-orange.color-block.us-col-3
        .color-block__hex #E67F0F
        .color-block__var $c-orange
      .c-purple.color-block.us-col-3
        .color-block__hex #9b59b6
        .color-block__var $c-purple
      .c-typecyan.color-block.us-col-3
        .color-block__hex #009DE9
        .color-block__var $c-typecyan
