---
title: uSwitch uGuide
---
.us-container
  %section.introduction
    %h1 Introduction
    %p This is the uSwitch styleguide and documentation for the uStyle gem.
    
  %section.colors
    %h1 uSwitch colors, and Sass variables

    %h3 Primary

    .us-grid-row
      .c-cyan.color-block.us-col-4
        .color-block-inner $c-cyan: #99e2ff
      .c-blue.color-block.us-col-4
        .color-block-inner $c-blue: #174695
      .c-navy.color-block.us-col-4
        .color-block-inner $c-navy: #1c1f4e

    %h3 Secondary

    .us-grid-row
      .c-red.color-block.us-col-3
        .color-block-inner $c-red: #D64226
      .c-green.color-block.us-col-3
        .color-block-inner $c-green: #2AAA5B
      .c-lightgrey.color-block.us-col-3
        .color-block-inner $c-lightgrey: #f4f4f4
      .c-darkgrey.color-block.us-col-3
        .color-block-inner $c-darkgrey: #2f3335

    %h3 Tertiary

    .us-grid-row
      .c-yellow.color-block.us-col-3
        .color-block-inner $c-yellow: #f1c40f
      .c-orange.color-block.us-col-3
        .color-block-inner $c-orange: #E67F0F
      .c-purple.color-block.us-col-3
        .color-block-inner $c-purple: #9b59b6
      .c-typecyan.color-block.us-col-3
        .color-block-inner $c-typecyan: #009DE9
