.us-container
  %h1.styleguide-title Installation
  %p This installation guide assumes you have Ruby installed on your machine and are capable of installing gems
  %p In your application Gemfile, add this line:
  %pre
    %code gem 'ustyle', :git => "git@github.com:uswitch/ustyle.git"

  And then bundle!

  %pre
    %code $ bundle