.us-container
  %h1.styleguide-title Ovelay

= styleblock "6.3", "Sliding from left", {floated: false} do
  %button#open-left-overlay.us-btn
    Open overlay
  #overlay.overlay-parent
    .overlay
      .overlay__header
        .overlay__title
          Sliding from the left
        .overlay__close
      .overlay__container
        Stuff
    #overlay__back-layer.overlay__back-layer

-# -------

= styleblock "6.4", "Sliding from right", {floated: false} do
  %button#open-right-overlay.us-btn
    Open overlay
  #overlay--right.overlay-parent
    .overlay--right
      .overlay__header
        .overlay__title
          Sliding from the right
        .overlay__close
      .overlay__container
        Stuff
    #overlay--right__back-layer.overlay__back-layer

-# -------

= styleblock "6.5", "Overlay modal", {floated: false} do
  %button#open-modal-overlay.us-btn
    Open overlay
  #overlay--modal.overlay-parent--modal
    .overlay--right
      .overlay__header
        .overlay__title
          I turn into a popup
        .overlay__close
      .overlay__container
        Stuff
    #overlay--modal__back-layer.overlay__back-layer