.us-container
  %h1.styleguide-title Page Slider

= styleblock "6.3", "Sliding from left", {floated: false} do
  %button#togglepageslider.us-btn
    Toggle Class

  #us-pageslider
    .whichsim-wrapper
      .fluid-whichsim-bar.which-sim__toggler
        .whichsim-bar
          .whichsim-bar__row
            .whichsim-bar__bar
              .whichsim-bar__bar__close
              A Title

      .whichsim__container.viewport-height
        
    #whichsim__page-overlay.whichsim__page-overlay

-# -------
= styleblock "6.4", "Sliding from right", {floated: false} do
  %div
    dsfsdf