%float-left
  float: left

%float-right
  float: right

%backface-visibility
  backface-visibility: hidden
  -moz-backface-visibility: hidden
  -ms-backface-visibility: hidden
  -webkit-backface-visibility: hidden

%bordered-box
  +border-radius(em(5px))
  border: 1px solid $grey-10
  