%float-left
  float: left

%float-right
  float: right

%backface-visibility
  backface-visibility: hidden
  -moz-backface-visibility: hidden
  -ms-backface-visibility: hidden
  -webkit-backface-visibility: hidden