// Extends here are used to minimise repetition and reuse already
// declared font families across the site. It is not recommended that you
// redeclare font families on other components. Instead extend these.

%heading-font-bold
  font:
    family: $heading-font-bold
    weight: normal

%heading-font-regular
  font:
    family: $heading-font-regular
    weight: normal

%default-font
  font-family: $normal-font

%icon-font
  font-family: $icon-font
