%container,
.us-container
  +us-pie-clearfix
  width: 100%
  margin-left: auto
  margin-right: auto
  position: relative
  padding: 0 1em

  +respond-to(tablet)
    max-width: em($tablet-container-width)

  +respond-to(desktop)
    max-width: em($desktop-container-width)

  +respond-to(large-desktop)
    max-width: em($large-container-width)

@mixin us-col($cols)
  float: left
  margin-right: gutter-width()
  width: col-width($cols)

  &:last-child
    margin-right: 0

.ie8
  .last
    margin-right: 0 !important

@for $column from 1 through $grid-columns
  .us-col-#{$column}
    +respond-to(tablet)
      +us-col($column)