@if $establish-type-rules
  // Headings
  //
  // Styleguide 1.0

  +establish-baseline

  body
    @extend %default-font

  @for $i from 1 through 6
    h#{$i},
    %heading-#{$i}
      @extend %heading-font-bold
      +heading($i)

    h#{$i}
      margin: 0
      +trailer(0.25)

  // Paragraphs
  //
  // .us-standfirst - Used for heros and introductory paragraphs
  //
  // Styleguide 1.0.1

      
  p
    +trailer(1)

  .us-standfirst
    +adjust-font-size-to(18px, 1.15)
    @extend %heading-font-regular

  // Additional
  //
  //
  // Styleguide 1.0.2

  ul
    li
      +trailer(0.25)

  small
    line-height: 1.15em

  %baseline-font
    font-size: 1em
