// Standard typography
//
// Styleguide 1.0

@if $establish-type-rules
  +establish-baseline

  body
    @extend %default-font

  @for $i from 1 through 6
    h#{$i},
    %heading-#{$i}
      @extend %heading-font-bold
      +heading($i)

    h#{$i}
      margin: 0
      +trailer(0.25)
      
  p
    +trailer(1)

  .us-standfirst
    +adjust-font-size-to(18px, 1.15)
    @extend %heading-font-regular

  ul
    li
      +trailer(0.25)

  small
    line-height: 1.15em

  %baseline-font
    font-size: 1em