.inline-button-container
  margin-bottom: 20px
  .fb-like
    width: 85px !important
  .fb_ltr
    height: 23px !important
  .twitter-share-button
    width: 85px !important

.button-container
  margin-bottom: 20px
  margin-left: 10px
  .fb-like
    float: left
    margin-right: 12px
    width: 50px !important
  .twitter-share-button
    margin-right: 15px

.twtr-hd, .twtr-ft, .twtr-avatar, .twtr-timestamp
  display: none
.twtr-tweet-text p em
  color: $white !important
  visibility: hidden 
  margin-left: -5px
.twtr-widget .twtr-tweet-wrap
  padding: 0 !important
.twtr-timeline .twtr-tweet-text p
  font-family: $normal-font !important
  line-height: 18px !important
.twtr-widget .twtr-tweet
  border: 0 !important
  margin-bottom: 10px !important
.twtr-widget em, .twtr-widget .twtr-new-results
  font-size: 11px !important
  color: $grey-2 !important
  text-transform: uppercase
#twtr-widget-1 .twtr-tweets .twtr-tweet:hover
  a
    color: $blue-16 !important
  p em
    visibility: visible
    a
      color: $grey-2 !important
.twtr-reply, .twtr-rt, .twtr-fav
  background: url(../../images/content/twitter-reply.gif) no-repeat 0 0
  padding: 0 0 4px 20px
.twtr-rt
  background-image: url(../../images/content/twitter-retweet.gif) 
  padding-left: 17px
.twtr-fav
  background-image: url(../../images/content/twitter-favourite.gif)
  background-position: 0 -4px
  padding: 1px 0 4px 18px