.logo
  @extend %heading-font-regular
  +link-colors(white, $c-typecyan, white, white)
  position: fixed
  z-index: 1000
  top: 5px
  right: $gutter-width/2
  border-radius: 3px
  display: inline-block
  padding: 0.5em
  background-color: $c-navy

  &:before
    content: "\2630"
    @extend %icon-font
    speak: none
    display: inline-block
    font-size: 0.8em
    margin-right: 0.5em

  .open-menu &
    +link-colors($c-cyan, $c-typecyan, white, white)

    &:before
      content: "\2718"

#nav
  float: right