input
  &[type="checkbox"],
  &[type="radio"]
    vertical-align: middle
    padding: 0
    width: 1.6em
    height: 1.6em
    font-size: 0.8em
    cursor: pointer
    background-color: white

  &[type="radio"]
    border-radius: 50%

  &[type="checkbox"]
    border-radius: 0.3em