%btn,
.us-btn
  @extend %heading-font-bold
  +us-reset-box-model
  +transition(all 180ms)
  // +transform(scale3d(1,1,1))
  font-size: 1em
  line-height: 1em
  position: relative
  display: inline-block
  padding: em(10px) em(20px)
  color: white
  background-color: $button-color
  white-space: nowrap
  border-radius: 5px
  box-shadow: 0px 5px 0px mix($button-color, black, 80%)
  text-decoration: none
  text-align: center
  cursor: pointer

  &:hover
    background-color: mix($button-color, black, 80%)
    box-shadow: 0px 5px 0px mix($button-color, black, 60%)

  &:focus,
  &:active
    +transition-delay(0)
    background-color:  mix($button-color, black, 75%)
    top: 3px
    box-shadow: 0px 2px 0px mix($button-color, black, 65%)

  &.us-btn_arrowed
  
    &:after
      @extend %link-triangle

    &:hover
      &:after
        margin-left: 0.8em
        margin-right: -0.3em

  &.us-btn_white
    color: black
    background-color: white
    box-shadow: 0px 5px 0px mix(white, black, 80%)

    &:hover
      background-color: mix(white, black, 80%)
      box-shadow: 0px 5px 0px mix(white, black, 70%)

    &:focus,
    &:active
      background-color:  mix(white, black, 75%)
      box-shadow: 0px 2px 0px mix(white, black, 65%)

  &.us-btn_big
    font-size: em(24px)

  &.us-btn_hero
    font-size: 1.2em
    color: $uswitch-dark-blue
    background-color: white
    box-shadow: 0px 5px 0px mix(white, black, 80%)

    &:hover
      background-color: mix(white, black, 80%)
      box-shadow: 0px 5px 0px mix(white, black, 70%)

    &:focus,
    &:active
      background-color:  mix(white, black, 75%)
      box-shadow: 0px 2px 0px mix(white, black, 65%)
      top: -7px