// Buttons
// ---
// There are several styles of the uSwitch button. 
// There is a larger version of the button as well.
// Each of these styles adheres to the uSwitch branding colours.
// Currently we support anchor tags and button tags as the main ussage
//
// .primary - Usually used a save/update button
// .secondary - Secondary use button, can be used multiple times
// .tertiary - Tertiary use button, can be used multiple times
// .arrowed - Arrowed button used for CTAs
// .light - Light button used for dark backgrounds
// .dark - dark button used for dark backgrounds
// .large - Larger button for heros
// .blocked - Full width button
//
// Styleguide 3.1

%btn,
.us-btn
  @extend %heading-font-regular
  +reset-box-model
  +transition(all 180ms)
  padding: em(10px) em(20px)
  display: inline-block
  border-radius: 5px
  box-shadow: 0px 5px 0px mix($button-color, black, 80%)
  font-size: 1em
  line-height: 1em
  color: white
  background-color: $button-color
  white-space: nowrap
  text-decoration: none
  text-align: center
  cursor: pointer
  outline: 0

  &:visited
    color: white
    
  &:hover
    color: white
    background-color: mix($button-color, black, 80%)
    box-shadow: 0px 5px 0px mix($button-color, black, 60%)

  &:focus,
  &:active
    color: white
    background-color:  mix($button-color, black, 75%)
    box-shadow: 0px 2px 0px mix($button-color, black, 65%)

  &.stronger
    @extend %heading-font-bold

  &.large
    font-size: 1.2em

  &.blocked
    +trailer(1)
    display: block
    width: 100%

  &.arrowed
  
    &:after
      @extend %link-triangle

    &:hover
      &:after
        margin-left: 0.8em
        margin-right: -0.3em

  &.primary
    background-color: $c-green
    box-shadow: 0 5px 0 mix($c-green, black, 80%)

    &:hover
      background-color: mix($c-green, black, 90%)
      box-shadow: 0 5px 0 mix($c-green, black, 80%)

    &:focus,
    &:active
      background-color: mix($c-green, black, 90%)
      box-shadow: 0 2px 0 mix($c-green, black, 80%)

  &.secondary
    background-color: $c-typecyan
    box-shadow: 0 5px 0 mix($c-typecyan, black, 75%)

    &:hover
      background-color: mix($c-typecyan, black, 80%)
      box-shadow: 0 5px 0 mix($c-typecyan, black, 75%)

    &:focus,
    &:active
      background-color: $c-typecyan
      box-shadow: 0 2px 0 mix($c-typecyan, black, 80%)

  &.tertiary
    background-color: $c-blue
    box-shadow: 0 5px 0 mix($c-blue, black, 75%)

    &:hover
      background-color: mix($c-blue, black, 80%)
      box-shadow: 0 5px 0 mix($c-blue, black, 75%)

    &:focus,
    &:active
      background-color: $c-blue
      box-shadow: 0 2px 0 mix($c-blue, black, 80%)

  &.light
    color: $c-navy
    background-color: white
    box-shadow: 0px 5px 0px mix(white, black, 80%)

    &:hover
      background-color: mix(white, black, 80%)
      box-shadow: 0px 5px 0px mix(white, black, 70%)

    &:focus,
    &:active
      background-color:  mix(white, black, 75%)
      box-shadow: 0px 2px 0px mix(white, black, 65%)

  &.dark
    background-color: $c-navy
    box-shadow: 0px 5px 0px mix($c-navy, black, 80%)

    &:hover
      background-color: mix($c-navy, black, 80%)
      box-shadow: 0px 5px 0px mix($c-navy, black, 70%)

    &:focus,
    &:active
      background-color:  mix($c-navy, black, 75%)
      box-shadow: 0px 2px 0px mix($c-navy, black, 65%)
