.us-guide-item
  @extend .us-news-item

  &.larger
    @extend .us-col-4

    +respond-to(tablet)
      &:nth-child(2n+2)
        margin-right: gutter-width()

.us-guide-item-link
  @extend .us-news-item-link

.us-guide-item-title
  @extend h4
  color: $c-navy

.us-guide-item-title,
.us-guide-item-description
  padding: em(11px) em(20px)

.us-guide-item-image-container
  +respond-to(mobile)
    display: none

.us-guide-item-image
  @extend .us-news-item-image
  border-bottom: 1px solid $c-lightgrey