// This is the default guide item for uSwitch landing page. It extends the 
// news item heavily, so the styles are near identical. 
//
// .larger - A larger, 3 col version of the guide
//
// Styleguide 4.2

.us-guide-item
  @extend .us-news-item

  &.larger
    @extend .us-col-4

.us-guide-item-link
  @extend .us-news-item-link

.us-guide-item-title
  @extend %heading-4
  padding: em(11px) em(20px) 0 em(20px)

.us-guide-item-title,
.us-guide-item-description
  color: $c-navy

.us-guide-item-description
  padding: 0 em(20px)

.us-guide-item-image-container
  +respond-to(mobile)
    display: none

.us-guide-item-image
  @extend .us-news-item-image
  border-bottom: 1px solid $c-lightgrey

.us-guide-item-readmore
  @extend %readmore
  padding: 0 em(20px) em(20px)

.us-guide-item-readmorelink
  @extend %readmore-link