// List links
//
// Styleguide 2.3


.us-list  
  list-style: none
  margin: 0
  padding: 0

  a
    @extend .us-link
    display: block
    padding-top: 0.5em
    padding-bottom: 0.5em

    &:after
      @extend %link-triangle
      font-size: 0.8em

    &:hover
      &:after
        margin-left: 0.8em
        margin-right: -0.3em


  .us-hero &
    +leader(1)

    a
      @extend %heading-font-regular
      +adjust-font-size-to(18px, 1)