.us-news-item
  @extend .us-col-3
  +transition(border-color 333ms, background-color 333ms)
  border: 1px solid $grey-10
  border-radius: em(5px)
  overflow: hidden
  background-color: white

  &:hover
    border-color: darken($grey-10, 20%)
    background-color: $c-lightgrey

    .us-news-item-image
      +opacity(0.8)

.us-news-item-link
  display: block
  text-decoration: none
  border: none

.us-news-item-title
  @extend h4
  color: $c-navy

.us-news-meta
  padding: em(9px)

  .category,
  .date
    @extend %heading-font-regular
    +adjust-font-size-to(14px)
    padding-top: em(4px)
    padding-bottom: em(4px)

  .category
    background-color: $c-typecyan
    color: white
    padding-left: em(9px)
    padding-right: em(9px)
    border-radius: em(3px)

  .date
    color: $c-navy
    float: right
    display: block

.us-news-item-title,
.us-news-item-snippet
  padding: em(9px)

.us-news-item-image
  @extend %backface-visibility
  +transition(opacity 333ms)
  +border-top-radius(em(5px))
  width: 100%
  height: auto
