// Standard uSwitch News item - used on landing pages
//
// Styleguide 4.1

%readmore-link
  @extend %heading-font-regular
  @extend %heading-4
  border-bottom: 1px solid $c-typecyan

%readmore
  white-space: nowrap
  color: $c-typecyan
  &:after
    @extend %link-triangle

.us-news-item
  @extend %us-col-md-6
  @extend %us-col-lg-3
  +trailer(1)
  overflow: hidden

  &:hover

    .us-news-item-title
      color: $c-typecyan

    .us-news-item-image
      +opacity(0.8)

    %readmore
      &:after
        margin-left: 0.8em
        margin-right: -0.3em

.us-news-item-link
  @extend %bordered-box
  +transition(border-color 333ms, background-color 333ms)
  background-color: white
  display: block
  text-decoration: none

.us-news-item-title
  @extend %heading-4
  +transition(color 333ms)
  color: $c-navy

.us-news-meta
  padding: em(9px)

  .category,
  .date
    @extend %heading-font-regular
    +adjust-font-size-to(13px)
    padding-top: em(4px)
    padding-bottom: em(4px)

    +respond-to(large-desktop)
      +adjust-font-size-to(14px)

  .category
    background-color: $c-typecyan
    color: white
    padding-left: em(9px)
    padding-right: em(9px)
    border-radius: em(3px)

  .date
    color: $c-navy
    float: right
    display: block

.us-news-item-title
  padding: em(9px)

.us-news-item-snippet
  +adjust-font-size-to(14px, 0.75)
  padding: 0 em(9px)

.us-news-item-image-container  
  display: none

  +respond-to(small-tablet, true)
    display: block

.us-news-item-image
  @extend %backface-visibility
  +transition(opacity 333ms)
  +border-top-radius(em(5px))
  width: 100%
  height: auto

  &.background
    height: 128px
    background-repeat: no-repeat
    background-position: center center
    +background-size(cover)

.us-news-item-readmore
  @extend %readmore
  padding: em(9px)
  border-top: 1px solid $grey-10

.us-news-item-readmorelink
  @extend %readmore-link