.us-news-item
  @extend .us-col-3

.us-news-item-link
  display: block
  border: 1px solid $grey-10
  border-radius: em(3px)
  overflow: hidden
  text-decoration: none

.us-news-item-title
  @extend h4
  color: $c-blue


