// The final item in a grid of news or guide items. Created as a
// "see more" link for further reading
//
// Styleguide 4.1.1

.us-more-item
  @extend .us-news-item

.us-more-item-link
  @extend .us-news-item-link

.us-more-item-title
  @extend %heading-1
  display: block
  color: $c-typecyan
  padding: $item-padding

  &.small
    @extend %heading-3