body
  @extend %normal-font
  font-size: 14px
  margin: 0
  padding: 0

header, footer, aside, section, article
  display: block

a, .fake-link
  color: $blue-2
  cursor: pointer
  text-decoration: none
  &:hover
    color: $blue-3
  &:visited
    color: $blue-4

.last, .edge
  margin-right: 0!important
  
.twelve-col
  width:  100%