// -------
// Colours
// -------

// Standard uSwitch colours from the brand guidelines

$uswitch-blue-1 : #eaf2f9 !default
$uswitch-blue-2 : #2baae1 !default
$uswitch-blue-3 : #00bdff !default
$uswitch-blue-4 : #236fcf !default
$uswitch-blue-5 : #18479a !default
$uswitch-blue-6 : #1d204f !default

$uswitch-grey-1 : #929a9e !default
$uswitch-grey-2 : #5f686b !default
$uswitch-grey-3 : #2f3335 !default

// Button colours

$darkRed      : #d3042e !default
$lightRed     : #ff0033 !default
$darkPink     : #ff33b2 !default
$lightPink    : #ff70cd !default
$darkPurple   : #8c1eb6 !default
$lightPurple  : #bd2bf1 !default
$darkOrange   : #e08a00 !default
$lightOrange  : #ff9c00 !default
$darkGreen    : #43af0e !default
$lightGreen   : #89cb06 !default
$darkSkyBlue  : #0086e5 !default
$lightSkyBlue : #42a4e4 !default
$darkMidnightBlue  : #194da0 !default
$lightMidnightBlue : #1769c2 !default

// Other colours

$white : #fff !default
$black : #000 !default

$blue-1  : #104478 !default
$blue-2  : #00bcfe !default
$blue-3  : #00b4ff !default
$blue-4  : #258ecf !default
$blue-5  : #003 !default
$blue-6  : #003269 !default
$blue-7  : #003a7b !default
$blue-8  : #004a9a !default
$blue-9  : #004bb1 !default
$blue-10 : #0091eb !default
$blue-11 : #0c1424 !default
$blue-12 : #115897 !default
$blue-13 : #166ac3 !default
$blue-14 : #1a84e3 !default
$blue-15 : #0079d2 !default
$blue-16 : #00b4ef !default
$blue-17 : #039 !default
$blue-18 : #184ca0 !default
$blue-19 : #21aaff !default
$blue-20 : #246fcf !default
$blue-21 : #3a97d9 !default
$blue-22 : #5193e8 !default

$light-blue-1 : #ebf5fb !default
$light-blue-2 : #ecf5fc !default
$light-blue-3 : #ebf2f9 !default
$light-blue-4 : #c0e6f9 !default
$light-blue-5 : #e9f0fa !default
$light-blue-6 : #ecf5fb !default
$light-blue-7 : #f7fbfd !default

$purple-1 : #2f3669 !default
$purple-2 : #7632a0 !default

$green-1 : #63ad30 !default
$green-2 : #6a8800 !default
$green-3 : #40aa00 !default
$green-4 : #6dc607 !default
$green-5 : #756a69 !default
$green-6 : #82c000 !default

$red-1 : #84021e !default
$red-2 : #900 !default

$pink-1 : #c83c87 !default

$light-pink-1 : #fefbf3 !default

$yellow-1 : #e2c822 !default
$yellow-2 : #ffff88 !default
$yellow-3 : #ffff00 !default
$yellow-4 : #f8c600 !default

$light-yellow-1 : #ffc !default
$light-yellow-2 : #ffffe5 !default

$orange-1 : #e57127 !default
$orange-2 : #f87e00 !default

$grey-1  : #333 !default
$grey-2  : #666 !default
$grey-3  : #888 !default
$grey-4  : #fafafa !default
$grey-5  : #cccccc !default
$grey-6  : #f3f3f3 !default
$grey-7  : #454040 !default
$grey-8  : #f9f9f9 !default
$grey-9  : #e7e9e9 !default
$grey-10 : #c4c0c0 !default
$grey-11 : #111 !default
$grey-12 : #999 !default
$grey-13 : #aaa !default
$grey-14 : #bbb !default
$grey-15 : #ddd !default
$grey-16 : #eaeaea !default
$grey-17 : #eee !default
$grey-18 : #f0f0f0 !default
$grey-19 : #f2f2f2 !default
$grey-20 : #fbfbfb !default
$grey-21 : #6f6f6f !default
$grey-22 : #1f2023 !default
$grey-23 : #292728 !default
$grey-24 : #4c4c4c !default
$grey-25 : #777 !default
$grey-26 : #787878 !default
$grey-27 : #adadad !default
$grey-28 : #aeaeae !default
$grey-29 : #c6c6c6 !default
$grey-30 : #ececec !default
$grey-31 : #f6f6f6 !default

// -----
// Fonts
// -----

$heading-font-bold    : "FS Elliot Web Bold", Helvetica, Arial, sans-serif !default
$heading-font-regular : "FS Elliot Web Regular", Helvetica, Arial, sans-serif !default
$normal-font          : "Helvetica Neue", Helvetica, Arial, sans-serif !default


// PIE
$pie : "//www.uswitch.com/home-1/PIE.htc" !default
$pie-development: false !default
$has-pie: true !default

// Grid

$grid-width: 962px !default
$desktop-width: 868px !default
$tablet-width: 500px !default