.code-block
  padding-top: 1em

.code-block__code
  max-height: 300px
  overflow: auto

  .code-block &
    .js &
      display: none

.code-block__code--visible
  .js &
    .code-block__code
      display: block