$colors: (c-cyan, $c-cyan), (c-blue, $c-blue), (c-navy, $c-navy), (c-green, $c-green), (c-red, $c-red), (c-lightgrey, $c-lightgrey), (c-darkgrey, $c-darkgrey), (c-yellow, $c-yellow), (c-orange, $c-orange), (c-purple, $c-purple), (c-typecyan, $c-typecyan)

@each $color in $colors
  .#{nth($color, 1)}
    .color-block__hex
      background-color: nth($color, 2)
      height: 50px

.color-block
  text-align: center

.color-block__hex
  line-height: 50px
  color: white

  .c-lightgrey &
    color: $c-darkgrey

.color-block
  margin-bottom: 1em