$colors: (c-cyan, $c-cyan), (c-blue, $c-blue), (c-navy, $c-navy), (c-green, $c-green), (c-red, $c-red), (c-lightgrey, $c-lightgrey), (c-darkgrey, $c-darkgrey), (c-yellow, $c-yellow), (c-orange, $c-orange), (c-purple, $c-purple), (c-typecyan, $c-typecyan)

@each $color in $colors
  .#{nth($color, 1)}
    .color-block-inner
      background-color: nth($color, 2)
    height: 100px

.color-block-inner
  font-family: "Inconsolata", sans-serif
  line-height: 100px
  text-align: center
  color: white

  .c-lightgrey &
    color: $c-darkgrey

.color-block
  +trailer(2)