.us-logobar
  @extend %clearfix            
  +trailer(1)                  
  +us-row                      

  &:hover
    .us-logobar__image
      border-color: $grey-10

.us-logobar__link
  padding-top: 15px          
  @extend %us-col-xsm-4      
  @extend %us-col-sm-3       
  @extend %us-col-md-2       
  &:hover
    .us-logobar__image
      border-color: $grey-8

.us-logobar__image
  display: block
  max-width: 100%            
  width: auto                
  height: auto               
  padding: 5px               
  border: 1px solid white     
  +transition(border-color 300ms)
  +respond-to(desktop,true)
    padding: 15px            
