.grid-insight
  @extend %clearfix
  +trailer(1)
  .inner,.grid-insight-nowrap,.grid-insight-wrap
    @extend %heading-font-bold
    padding: em(15px)
    background-color: $c-typecyan
    color: white
  .grid-insight-nowrap,.grid-insight-wrap
    border: 1px solid $c-navy

  p
    margin: 0


.grid-example
  @extend %clearfix
  +trailer(1)
  
  .inner
    @extend %heading-font-bold
    padding: em(15px)
    background-color: $c-typecyan
    color: white