// Key figures
// ---

.key-container
  display: block
  text-align: center

.key
  display: block
  line-height: 1.15

.key-value
  @extend %heading-font-bold
  font-size: 24px
  line-height: 1

.key-textvalue
  font:
    weight: bold
    size: 14px

.key-unit
  display: block
  font-size: 14px

  .key-inline &
    @extend %heading-font-bold
    display: inline
    font-size: 20px

.key-sideunit
  font-size: 18px
  line-height: 1

.key-desc
  display: block
  font-size: 14px

  .key-inline &
    margin-top: .4em

.key-desc-more
  display: block

// ----------------------
// Highlighted key figure
// ----------------------

.key-container-highlighted
  @extend .key-container
  color: $c-typecyan

// -------------------
// Secondary container
// -------------------

.key-subcontainer
  width: 100%
  box-sizing: border-box
  padding-top: 3px
  margin-top: 10px
  background-color: none
  font-size: 12px

  .key-value
    font-size: 18px
    line-height: 1.2

  .key-sideunit
    font-size: 12px
    line-height: 1

  .key-desc
    line-height: 1
    font-size: 12px
