// SHIT TO MOVE ELSWHERE

@-webkit-keyframes anim-row-entry
  0%
    opacity: 0
    -webkit-transform: translateX(-10%)
  100%
    opacity: 1
    -webkit-transform: translateX(0)

@-webkit-keyframes rotate
  0%
    -webkit-transform: rotate(0deg)
  100%
    -webkit-transform: rotate(-360deg)

.fake_table_container
  position: relative

.fake_table
  width: 100%

.fake_table__row
  width: 100%
  height: 150px
  background-color: $c-lightgrey
  border: 1px solid $c-darkgrey
  margin-bottom: 1px

  &.ready-to-animate
    opacity: 0
    -webkit-transform: translateX(-10%)

  &.animated-entry
    -webkit-animation: anim-row-entry 0.5s forwards


// Spinner
%snap-to-parent
  width: 100%
  height: 100%
  position: absolute
  top: 0
  left: 0

@-webkit-keyframes anim-opacity
  0%
    opacity: 0
  100%
    opacity: 1

@-webkit-keyframes anim-opacity--reverse
  0%
    opacity: 1
  100%
    opacity: 0

.loader
  @extend %snap-to-parent
  text-align: center
  padding-top: 2em
  display: none

  &.loading
    display: block
    -webkit-animation: anim-opacity 0.5s forwards

  &.unload
    display: block
    -webkit-animation: anim-opacity--reverse 0.5s forwards

.loader__spinner
  width: 60px
  height: 60px
  z-index: 2
  position: relative
  display: inline-block
  margin-top: 1em
  margin-bottom: 1em

  .kewl &
    .loading &
      background-image:  url("data:image/svg+xml;base64," + base64Encode('<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 32 32" width="60" height="60" fill="#174695"><path opacity=".25" d="M16 0 A16 16 0 0 0 16 32 A16 16 0 0 0 16 0 M16 4 A12 12 0 0 1 16 28 A12 12 0 0 1 16 4"/><path d="M16 0 A16 16 0 0 1 32 16 L28 16 A12 12 0 0 0 16 4z" transform="rotate(41.7218 16 16)">  <animateTransform attributeName="transform" type="rotate" from="0 16 16" to="360 16 16" dur="0.8s" repeatCount="indefinite"/></path></svg>') )

  .creditcards &
    .loading &
      background-size: 70%
      background-repeat: no-repeat
      background-image:  url("/images/ajax-loader.gif")

  .mobiles &
    .loading &
      position: absolute
      top: -20px
      left: -35px
      background-size: 25px
      width: 25px
      height: 25px
      background-image:  url("data:image/svg+xml;base64," + base64Encode('<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 32 32" width="64" height="64" fill="#{$c_navy}">  <circle cx="16" cy="3" r="0">    <animate attributeName="r" values="0;3;0;0" dur="1s" repeatCount="indefinite" begin="0" keySplines="0.2 0.2 0.4 0.8;0.2 0.2 0.4 0.8;0.2 0.2 0.4 0.8" calcMode="spline" />  </circle>  <circle transform="rotate(45 16 16)" cx="16" cy="3" r="0">    <animate attributeName="r" values="0;3;0;0" dur="1s" repeatCount="indefinite" begin="0.125s" keySplines="0.2 0.2 0.4 0.8;0.2 0.2 0.4 0.8;0.2 0.2 0.4 0.8" calcMode="spline" />  </circle>  <circle transform="rotate(90 16 16)" cx="16" cy="3" r="0">    <animate attributeName="r" values="0;3;0;0" dur="1s" repeatCount="indefinite" begin="0.25s" keySplines="0.2 0.2 0.4 0.8;0.2 0.2 0.4 0.8;0.2 0.2 0.4 0.8" calcMode="spline" />  </circle>  <circle transform="rotate(135 16 16)" cx="16" cy="3" r="0">    <animate attributeName="r" values="0;3;0;0" dur="1s" repeatCount="indefinite" begin="0.375s" keySplines="0.2 0.2 0.4 0.8;0.2 0.2 0.4 0.8;0.2 0.2 0.4 0.8" calcMode="spline" />  </circle>  <circle transform="rotate(180 16 16)" cx="16" cy="3" r="0">    <animate attributeName="r" values="0;3;0;0" dur="1s" repeatCount="indefinite" begin="0.5s" keySplines="0.2 0.2 0.4 0.8;0.2 0.2 0.4 0.8;0.2 0.2 0.4 0.8" calcMode="spline" />  </circle>  <circle transform="rotate(225 16 16)" cx="16" cy="3" r="0">    <animate attributeName="r" values="0;3;0;0" dur="1s" repeatCount="indefinite" begin="0.625s" keySplines="0.2 0.2 0.4 0.8;0.2 0.2 0.4 0.8;0.2 0.2 0.4 0.8" calcMode="spline" />  </circle>  <circle transform="rotate(270 16 16)" cx="16" cy="3" r="0">    <animate attributeName="r" values="0;3;0;0" dur="1s" repeatCount="indefinite" begin="0.75s" keySplines="0.2 0.2 0.4 0.8;0.2 0.2 0.4 0.8;0.2 0.2 0.4 0.8" calcMode="spline" />  </circle>  <circle transform="rotate(315 16 16)" cx="16" cy="3" r="0">    <animate attributeName="r" values="0;3;0;0" dur="1s" repeatCount="indefinite" begin="0.875s" keySplines="0.2 0.2 0.4 0.8;0.2 0.2 0.4 0.8;0.2 0.2 0.4 0.8" calcMode="spline" />  </circle>  <circle transform="rotate(180 16 16)" cx="16" cy="3" r="0">    <animate attributeName="r" values="0;3;0;0" dur="1s" repeatCount="indefinite" begin="0.5s" keySplines="0.2 0.2 0.4 0.8;0.2 0.2 0.4 0.8;0.2 0.2 0.4 0.8" calcMode="spline" />  </circle></svg>') )

  .energy &
    .loading &
      &:before
        content: "\27f3"
        display: block
        position: absolute
        top: 50%
        left: 50%
        margin: -0.5em 0 0 -0.5em
        font-family: "uswitch-icon",sans-serif
        font-size: 2em
        font-weight: normal
        line-height: 1
        text-indent: 0
        -webkit-animation: rotate 1s linear infinite

  .broadband &
    .loading &
      background-size: 100px
      width: 100px
      height: 100px
      background-image:  url("data:image/svg+xml;base64," + base64Encode('<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 32 32" width="32" height="32" fill="#ccc"><path opacity=".25" d="M16 0 A16 16 0 0 0 16 32 A16 16 0 0 0 16 0 M16 4 A12 12 0 0 1 16 28 A12 12 0 0 1 16 4"/><path d="M16 0 A16 16 0 0 1 32 16 L28 16 A12 12 0 0 0 16 4z" transform="rotate(143.088 16 16)"><animateTransform attributeName="transform" type="rotate" from="0 16 16" to="360 16 16" dur="0.8s" repeatCount="indefinite"/></path></svg>') )

.loader__text
  .kewl &
    position: relative
    z-index: 2
    @extend %heading-3
    color: $c-navy
  .mobiles &
    @extend %heading-6
    position: relative
    z-index: 2
    font-size: 1em
    color: $c-navy

.loader__overlay
  @extend %snap-to-parent
  background: white
  opacity: 0.8
  z-index: 1


.loader__template
  display: none

  &.selected
    display: block
