.nav
  position: fixed
  width: $nav-width
  top: 0
  bottom: 0
  left: 0
  background-color: $c-navy
  z-index: 1000

.nav__link
  +link-colors(white, $c-typecyan, white, white)
  display: block
  font-size: 1rem
  padding: 0 $gutter-width/2

.nav__set-container
  max-height: 100%
  overflow: auto

.nav__set
  @extend %reset-box-model
  margin-top: .75em
  list-style: none
  text-align: left

.nav__set-title
  font-weight: bold
  border-bottom: 1px solid white
  margin: $gutter-width $gutter-width/2 $gutter-width/2
  color: white

.nav__link--active
  background-color: mix($c-navy, white, 80%)