.nav
  position: fixed
  width: $nav-width
  top: 0
  bottom: 0
  left: 0
  background-color: $c-lightgrey
  z-index: 1000
  overflow: scroll

.nav__link
  +link-colors($c-typegrey-2, $c-typecyan, $c-typegrey-2, $c-typegrey-2)
  display: block
  font-size: 1rem
  padding: 0 $gutter-width/2

.nav__set-container
  max-height: 100%
  overflow: auto

.nav__set
  @extend %reset-box-model
  margin-top: .75em
  list-style: none
  text-align: left

  &:first-child
    .nav__set-title
      margin-top: 0

.nav__set-title
  font-weight: bold
  border-bottom: 1px solid $c-typegrey
  margin: $gutter-width $gutter-width/2 $gutter-width/2
  color: $c-typegrey

.nav__link--active
  background-color: white
  color: $c-typecyan