%overlay-effect
  +transition(all 400ms cubic-bezier(0.175, 0.885, 0.335, 1.05))
  top: 0
  left: 0
  right: 0
  bottom: 0
  position: absolute
  width: auto
  height: auto

.wrapper
  @extend %backface-visibility
  @extend %overlay-effect
  z-index: 500
  background-color: white
  overflow-y: auto

.content__overlay
  @extend %overlay-effect
  +box-shadow(0)
  z-index: -1
  cursor: pointer

.open-menu
  overflow: hidden

  .wrapper,
  .content__overlay
    +transform(translate3d(0,300px,0) scale(0.85))
    left: 0

  .content__overlay
    z-index: 600

    &:hover
      +box-shadow(0 0 18px 0 $grey-5)

.nav__wrapper
  position: absolute
  left: 0
  top: 0
  bottom: 0
  right: 0
  background-color: $c-cyan
  
.nav__container
  @extend %container
  +padding-leader(1)
  text-align: center

.nav__link
  +link-colors($c-navy, $c-typecyan, $c-navy, $c-navy)
  display: inline-block
  font-size: $base-font-size
  font-size: 1rem

.nav__set-container
  +us-row

.nav__set
  +leader(0.5)
  @extend %us-col-md-3
  @extend %reset-box-model
  list-style: none
  text-align: left

.nav__set-title
  color: $grey-2
  border-bottom: 1px solid $grey-2
  margin-bottom: $gutter-width/2

.nav__link--active
  font-weight: bold !important