.styleblock__nav
  @extend %clearfix
  margin-bottom: 1.5em
  margin-left: - .75em
  
.styleblock__nav-link
  padding-top: .5em
  padding-bottom: .5em
  border-bottom: 1px solid $c-bordergrey
  display: block
  float: left
  width: 50%

  +respond-to(tablet, true)
    display: inline-block
    margin: 0 0.75em
    width: auto
    float: none