.styleblock__nav
  @extend %clearfix
  margin-bottom: 1em

.styleblock__nav-link
  padding-top: 0.25em
  padding-bottom: 0.25em
  border-bottom: 1px solid $grey-10
  border-color: $grey-10
  display: block
  float: left
  width: 50%

  +respond-to(tablet, true)
    display: inline-block
    margin: 0 1em 0 0
    width: auto
    float: none