// Table with key cells
// --------------------

.us-table-head-key
  text-align: center
  padding-left: 1em
  padding-right: 1em

  .us-table-sort-button
    margin-right: 0

.us-table-cell-key
  text-align: center

  .key-value,
  .key-sideunit
    color: $table-c-key

  +respond-to(small-tablet, true)
    width: em($table-key-width)
    max-width: em($table-key-width)
    padding-left:  em($table-key-sidepadding)
    padding-right: em($table-key-sidepadding)
