.list-in-table
  margin: 0
  padding-left: 1em

.table-complex-example
  .us-table-cell-action
    text-align: right

  +respond-to(mobile)
    
    .us-table-body-row
      padding: .5em
      margin-bottom: 1em
      border: 1px solid tint($c-darkgrey, 75%)

    .us-table-cell-title
      +adjust-font-size-to(18px)
      color: $c-darkgrey
      margin-bottom: .5em

    .us-table-cell-key
      float: left
      width: 50%
      margin-bottom: 1em
    
    .us-table-cell-action
      clear: both
      text-align: center
    
    .list-in-table
      margin-bottom: 1em
      li
        margin-bottom: 0

  +respond-to(small-tablet)

    .key-desc-more
      display: none