.logo {
  @include link-colors($c-navy, $c-typecyan, $c-navy, $c-navy);
  @include bold-font;
  display: inline-block;
  vertical-align: middle;

  @include respond-to(tablet, true) {
    font-size: 1.5em;
    letter-spacing: 1px;
  }

  &__icon {
    vertical-align: middle;
  }
}

.logo--ustyle.logo--ustyle {
  width: 128px;
  height: 128px;
}


// Logo states

.logo__state {
  display: inline-block;
  padding: 18px;
}

.logo__vertical {
  svg {
    width: 100%;
    height: 100%;
    max-width: 150px;
    max-height: 150px;
  }

  &--alternate {
    svg {
      max-width: 100px;
      max-height: 92px;
    }
  }
}

.logo__horizontal {
  padding: 18px 40px;

  svg {
    width: 100%;
    height: 100%;
    max-width: 250px;
    max-height: 100px;
  }

  &--alternate {
    svg {
      max-width: 160px;
      max-height: 100px;
    }
  }
}

.logo--blue,
.logo--cyan {
  fill: $c-blue;
}

.logo-white,
.logo--bwblack {
  fill: #fff;
}

.logo--blue,
.logo--bwwhite {
  border: 1px solid $c-typegrey-2;
}

.logo--white {
  background-color: $c-blue;
  fill: #fff;
}

.logo--cyan {
  background-color: $c-cyan;
}

.logo--bwwhite {
  fill: #000;
}

.logo--bwblack {
  background-color: #000;
}

.logo__spacer--vertical,
.logo__spacer--horizontal {
  position: relative;

  &:before {
    position: absolute;
    top: 0;
    left: 0;
    width: 25px;
    height: 100%;
    text-align: center;
    background-color: $c-cyan-light;
    content: "s";
  }
}

.logo__spacer--horizontal {
  &:before {
    width: 40px;
  }
}

.logo__svg--hidden {
  display: none;
}
