.logo {
  @include link-colors($c-navy, #fff, $c-navy, $c-navy);
  @include bold-font;
  display: block;
  float: left;

  @include respond-to(tablet, true) {
    font-size: 1.5em;
    letter-spacing: 1px;
  }

  &__icon {
    vertical-align: middle;
  }
}


// Logo states

.logo-state {
  display: inline-block;
  padding: 18px;

  .us-icon--uswitch {
    vertical-align: middle;
  }
}

.logo--blue {
  border: 2px dotted $c-blue;
}

.logo--white {
  background-color: $c-blue;
}

.logo-spacer {
  position: relative;
  border: 1px dashed $c-red;

  &:before {
    position: absolute;
    top: 0;
    left: 0;
    width: 18px;
    height: 100%;
    text-align: center;
    background-color: $c-cyan-light;
    content: "s";
  }
}
