.logo {
  @include link-colors($c-navy, #fff, $c-navy, $c-navy);
  @include bold-font;
  display: block;
  float: left;
  padding: .55em;

  @include respond-to(tablet, true) {
    font-size: 1.5em;
    letter-spacing: 1px;
    padding: 1em .55em;
  }
}
