.nav {
  .sidebar--active & {
    display: block;
  }

  &--sub {
    @include respond-to(desktop, true) {
      padding-top: $gutter-width;
      float: right;
      z-index: 100;
      position: relative;
    }
  }

  &__link {
    display: block;
    font-size: .875em;
  }
}
