.nav {
  .sidebar--active & {
    display: block;
  }

  &--sub {
    padding-top: $gutter-width;
    border-bottom: 1px solid $c-bordergrey;

    @include respond-to(desktop, true) {
      position: relative;
      z-index: 100;
      float: right;
      border-bottom: 0;

      .stuck {
        position: fixed;
        top: 30px;
      }
    }
  }

  &__link {
    display: block;
    padding-top: 5px;
    padding-bottom: 5px;

    @include respond-to(desktop, true) {
      font-size: .875em;
    }
  }
}
