.nav {
  display: none;

  .sidebar--active & {
    display: block;
  }
  
  @include respond-to(tablet){
    display: block;
  }

  &__set {
    @extend %reset-box-model;
    list-style: none;
  }

  &__item {
    margin-bottom: 0;

    .nav__sub-set & &:last-child {
      margin-bottom: $gutter-width/2
    }
  }

  &__link {
    @include link-colors($c-typegrey, $c-typecyan, $c-typegrey, $c-typegrey);
    display: block;
    position: relative;
    padding-top: 6px;
    padding-bottom: 6px;
    padding-left: $gutter-width;
    transition: color 200ms, background-color 200ms;

    .nav__sub-set & {
      padding-left: $gutter-width/2;
    }

    &:before {
      content: '';
      width: 0;
      position: absolute;
      left: 0;
      top: 0;
      bottom: 0;
      background-color: $c-typecyan;
      transition: width 200ms;
    }

    &:hover,
    &.active {
      color: $c-typecyan;
      background-color: white;

      &:before {
        width: 8px;
      }
    }
  }
}