$nav-mobile-color        : white !default;
$button-menu-slice-height: 3px !default;

.nav-mobile {
  position: fixed;
  right: $gutter-width/2;
  top: 43px;
  z-index: 15;
  height: 42px;
  width: 42px;
  background-color: $c-navy;

  @include respond-to($sidebar-breakpoint) {
    top: $header-height;
    right: $gutter-width;
  }

  &__hamburger {
    width: 20px;
    height: $button-menu-slice-height;
    padding: 0;
    border: none;
    color: transparent;
    background-color: $nav-mobile-color;
    transition: all .2s;
    display: block;
    text-indent: -999em;
    position: absolute;
    top: 19px;
    left: 50%;
    margin-left: -10px;
    border-radius: 2px;

    &:before,
    &:after {
      content: '';
      position: absolute;
      width: 100%;
      height: $button-menu-slice-height;
      background-color: $nav-mobile-color;
      transition: all .2s;
      left: 0;
      border-radius: 2px;
    }

    &:before {
      top: -6px;
      transform-origin: 33% 100%
    }

    &:after {
      top: 6px;
      transform-origin: 33% 0
    }

    .nav-mobile--active & {
      background: transparent;

      &:before,
      &:after {
        top: 0
      }

      &:before {
        transform: translateY(-3px) translateX(1px) rotate(45deg);
      }

      &:after {
        transform: translateY(3px) translateX(1px) rotate(-45deg);
      }
    }
  }
}
