.sidebar {
  background-color: $sidebar-bg-color;
  z-index: 10;
  display: none;
  left: 0;
  right: 0;
  overflow-y: auto;
  overflow-x: hidden;

  @include respond-to($sidebar-breakpoint, true) {
    position: fixed;
    top: $header-height;
    bottom: 0;
    right: auto;
    width: $sidebar-width;
    min-height: 1px;
    padding-bottom: $gutter-width;
    border-right: 1px solid $sidebar-bg-color;
    overflow-y: auto;
    overflow-x: hidden;
    display: block;

    &--push {
      padding-left: $sidebar-width + $gutter-width;
    }
  }

  &--active {
    display: block;
  }

  &__nav-link {
    @include link-colors($c-navy, $c-typecyan, $c-navy, $c-navy);
    position: relative;
    display: block;
    padding: 10px $gutter-width;

    &:hover {
      background-color: lighten($sidebar-bg-color, 5%);
    }

    &.active {
      color: $c-blue-light;
    }

    &--sub {
      padding: 4px $gutter-width 4px $gutter-width*1.5;
      font-size: .875em;

      &.active:before {
        position: absolute;
        top: 0;
        bottom: 0;
        left: 0;
        width: 5px;
        background-color: $c-navy;
        content: '';
      }
    }
  }

  &__nav {
    padding-top: 4px;
    padding-bottom: 4px;
  }

  &__nav.active {
    background-color: lighten($sidebar-bg-color, 3%);

    .sidebar__sub-nav {
      display: block;
    }
  }

  &__sub-nav {
    display: none;
  }
}
