$sidebar-width          : 270px;
$sidebar-bg-color       : $c-bggrey;
$sidebar-breakpoint     : tablet;
$sidebar-side-visibility: desktop;
$sidebar-top-push       : $gutter-width/2;
$sidebar-padding        : 0;

.sidebar {
  background-color: $sidebar-bg-color;
  z-index: 10;
  overflow: visible;

  @include respond-to($sidebar-breakpoint){
    position: fixed;
    top: $header-height;
    right: 0;
    bottom: 0;
    width: $sidebar-width;
    min-height: 1px;
    padding-top: $gutter-width;
    overflow-y: auto;
    overflow-x: hidden;
  }

  &__nav-link {
    @include link-colors($c-navy, $c-typecyan, $c-navy, $c-navy);
    display: block;
    padding: 4px $gutter-width;

    &.active {
      background-color: white;
      font-weight: 700;
    }

    &--sub {
      @include link-colors($c-typecyan, $c-navy, $c-typecyan, $c-typecyan);
      padding-left: $gutter-width*1.5;
      transition: transform .3s;
    }

    &--active,
    &--active:visited {
      font-weight: 700;
      transform: translateX(5px);
    }
  }
}
