.sidebar {
  z-index: 10;
  display: none;
  overflow-x: hidden;
  overflow-y: auto;
  background-color: $sidebar-bg-color;

  @include respond-to($sidebar-breakpoint, true) {
    position: fixed;
    top: $header-height;
    bottom: 0;
    left: 0;
    display: block;
    width: $sidebar-width;
    min-height: 1px;
    padding-bottom: $gutter-width;
    overflow-x: hidden;
    overflow-y: auto;
    border-right: 1px solid $c-bordergrey;

    &--push {
      padding-left: $sidebar-width + $gutter-width/2;
    }
  }

  &--active {
    display: block;
  }

  &__nav-link {
    @include link-colors($c-navy, $c-typecyan, $c-navy, $c-navy);
    position: relative;
    display: block;
    padding: 10px $gutter-width;

    &:after {
      float: right;
      font-size: 8px;
      color: $c-bordergrey;
      content: "\25BA";
    }

    &:hover {
      background-color: lighten($sidebar-bg-color, 5%);
    }

    &.active {
      color: $c-blue-light;
    }
  }

  &__nav-link--sub {
    padding: 4px $gutter-width 4px $gutter-width*1.5;

    @include respond-to(tablet, true) {
      font-size: .875em;
    }

    &:after {
      display: none;
    }

    &.active:before {
      position: absolute;
      top: 0;
      bottom: 0;
      left: 0;
      width: 5px;
      background-color: $c-navy;
      content: "";
    }
  }

  &__nav {
    padding-top: 4px;
    padding-bottom: 4px;

    &.active {
      background-color: lighten($sidebar-bg-color, 3%);
    }
  }

  &__sub-nav {
    display: none;

    .active & {
      display: block;
    }
  }
}

.sidebar__nav.active .sidebar__nav-link:after {
  content: "\25BC";
}
