.stat {

  &__entry {
    margin: 10px 0;
  }

  &--number,
  &--string {
    .stat__value {
      font-size: 3.6em;
      line-height: 1em;
    }
    .stat__value span {
      font-size: 0.3em;
      float: right;
    }
  }

  &--string {
    color: $c-typecyan-light;
  }

  &--array {
    display: none;
  }

  &__title, &__value {
    float: left;
    clear: both;
  }
}

.report--entry {
  float: left;
  margin: 10px;
  padding-bottom: 10px;
  border-bottom: solid 1px $c-bordergrey;
}
