.stat {

  &__entry {
    margin: 10px 0;
  }

  &--number {
    .stat__value {
      font-size: 3.6em;
      line-height: 1em;
    }
    .stat__value span {
      font-size: 0.3em;
      float: right;
    }
  }

  &--string {
    display: none;
  }

  &--array {
    display: none;
  }

  &__title, &__value {
    float: left;
    clear: both;
  }

}
