.version {
  position: absolute;
  top: 0;
  left: $gutter-width/2;
  padding: 3px;
  color: $c-typegrey-2;
  background-color: white;
  font-size: .75em;
  line-height: 1.4;
  border-bottom-right-radius: 2px;
}
