// The standard form input styled with our brand colours. Deliberately
// classed .us-form-input to allow individual app styling for other inputs
//
// .large - Larger input style
//
// Styleguide 2.2

.us-form-input
  -webkit-appearance: none
  +box-sizing(border-box)
  +transition(border-color 200ms, box-shadow 200ms)
  display: inline-block
  padding: 0.35em 0.5em
  height: 2.2em
  border-radius: em(3px)
  box-shadow: none
  border: 1px solid $grey-10
  outline: 0
  font-size: 1em
  color: $grey-1

  &::-webkit-input-placeholder,
  &:-moz-placeholder,
  &::-moz-placeholder,
  &:-ms-input-placeholder
    color: $grey-4

  &:hover
    border-color: $input-hover-color

  &:focus
    border-color: $input-hover-color
    box-shadow: 0px 0px 3px $input-hover-color

    &::-webkit-input-placeholder,
    &:-moz-placeholder,
    &::-moz-placeholder,
    &:-ms-input-placeholder
      color: $grey-10

  &:disabled
    border-color: lighten($grey-10, 15%)
    background-color: white

  &.large
    padding: 1.235em 0.5em
    font-size: 1.2em
    
