// The select is built with inline background-image SVGs for Webkit/Blink browsers
// that allow for Sass variable changes on the hover/normal colours. Firefox allows for
// .us-form-select wrap to be added on top of the select to replicate styling, whilst
// other browser fallback to native implementation. $select-base-color, $select-hover-color and
// $select-active-color allow for different colouring of the border/dropdown.
//
// Styleguide 1.3

.us-form-select
  +box-sizing(border-box)
  +transition(border-color 200ms)
  -webkit-appearance: none
  position: relative
  display: inline-block
  height: 2.2em
  min-width: 150px
  width: 100%
  padding: 0.3em 0.6em
  vertical-align: middle
  border: 1px solid $select-base-color
  border-radius: 3px
  background-color: white

  &:hover,
  &:focus
    border-color: $select-hover-color

  &.active
    border-color: $select-active-color

  &:disabled
    border-color: lighten($select-base-color, 10%)
    color: $select-base-color

  @media all and (-webkit-min-device-pixel-ratio: 0)
    background-image: url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg' width='31' height='10' viewBox='-10 0 31 10'><polygon fill='%23fff' points='11,0 0,0 5.5,10'/></svg>"), url("data:image/svg+xml;utf8,<svg version='1.1' xmlns='http://www.w3.org/2000/svg' x='0px' y='0px' width='31px' height='41px' ><rect x='0' y='0' fill='#{$select-base-color}' width='31' height='40'/></svg>")
    background-repeat: no-repeat
    background-position: 100% 50%, 100% 0
    padding-right: 40px

    &:hover,
    &:focus
      background-image: url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg' width='31' height='10' viewBox='-10 0 31 10'><polygon fill='%23fff' points='11,0 0,0 5.5,10'/></svg>"), url("data:image/svg+xml;utf8,<svg version='1.1' xmlns='http://www.w3.org/2000/svg' x='0px' y='0px' width='31px' height='41px' ><rect x='0' y='0' fill='#{$select-hover-color}' width='31' height='40'/></svg>")

    &.active
      background-image: url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg' width='31' height='10' viewBox='-10 0 31 10'><polygon fill='%23fff' points='11,0 0,0 5.5,10'/></svg>"), url("data:image/svg+xml;utf8,<svg version='1.1' xmlns='http://www.w3.org/2000/svg' x='0px' y='0px' width='31px' height='41px' ><rect x='0' y='0' fill='#{$select-active-color}' width='31' height='40'/></svg>")

    &:disabled
      background-image: url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg' width='31' height='10' viewBox='-10 0 31 10'><polygon fill='%23fff' points='11,0 0,0 5.5,10'/></svg>"), url("data:image/svg+xml;utf8,<svg version='1.1' xmlns='http://www.w3.org/2000/svg' x='0px' y='0px' width='31px' height='41px' ><rect x='0' y='0' fill='#{lighten($select-base-color, 10%)}' width='31' height='40'/></svg>")

  +respond-to(tablet)
    width: auto

@-moz-document url-prefix()
  .us-form-select-wrap
    position: relative
    display: inline-block
    vertical-align: baseline

    &:after
      +border-right-radius(3px)
      content: '\25bc'
      position: absolute
      font-family: "uswitch-icon", helvetica, arial, sans-serif
      font-size: 0.8em
      color: white
      text-align: center
      z-index: 1
      right: 0
      top: 0
      bottom: 0
      width: 30px
      line-height: 35px
      background-color: $select-base-color
      border: 1px solid $select-base-color
      border-left: 0
      pointer-events: none

    &:hover,
    &:focus
      &:after
        background-color: $select-hover-color
        border-color: $select-hover-color