.js
  .main-content, .secondary-content, .secondary
    .articles .featured
      margin-bottom: 20px
      padding: 0
      &:hover
        .intro
          top: 44px
      img
        margin: 0
      li
        padding-top: 0
        padding-left: 0
      .intro
        background: rgba(255,255,255,0.8)
        min-height: 90px
        _height: 90px
        padding: 10px 10px 15px
        position: absolute
        top: 105px
        width: 93%
        +transition(top 500ms ease 0)
        h2, h3, h4
          margin-top: 0
          min-height: 35px
        h2, h3, h4, p
          color: $grey-1
          
    .non-desktop-edge
      margin-right: 22px !important