@import "desktop"

.main-content
  margin: 0 10px

.main-content, .secondary, .twelve-col, .comparison
  margin: 0 auto
  
.twelve-col, .comparison
  margin-bottom: 20px

.comparison
  max-width: 992px
  _width: 992px
  
.twelve-col
  max-width: 962px
  _width: 962px