@import "tablet"

.eleven-col, .ten-col, .nine-col, .eight-col, .seven-col, .six-col, .five-col, .four-col, .three-col, .two-col, .one-col
  float: left
  overflow: hidden
  margin-right: 2.286902287% /* 22px */
  
.twelve-col, .comparison
  clear: both
  overflow: hidden
  position: relative
  margin-bottom: 20px

.eleven-col
  width: 91.476091476% /* 880px */

.ten-col
  width: 82.952182952% /* 798px */
  
.nine-col
  width: 74.428274428% /* 716px */

.eight-col
  width: 65.904365904% /* 634px */

.seven-col
  width: 57.38045738% /* 552px */

.six-col
  width: 48.856548857% /* 470px */

.five-col
  width: 40.332640333% /* 388px */

.four-col
  width: 31.808731809% /* 306px */

.three-col
  width: 23.284823285% /* 224px */

.two-col
  width: 14.760914761% /* 142px */

.one-col
  width: 6.237006237% /* 60px */

.edge
  float: right /* to hide pixel inperfection */
  