.error-page
  .robot, .kitty
    display: block
    position: absolute
  
  .robot
    bottom: -10px
    left: -5%
    z-index: 10

  .kitty
    top: -85px
    right: -5%

  .main-content
    padding-top: 20px
    h1, h2, p, form
      padding: 0
      width: 440px
    h1
      font-size: 48px
      margin: 95px auto 5px
    h2
      font-size: 24px
      margin: 0 auto 45px
      width: 300px

    form
      margin-bottom: 40px
      width: 100%
      input
        margin-bottom: 0
        min-width: 0
        width: 310px

  .main-content
    padding-bottom: 120px
