$hero-padding-top: 1em;
$icons: (
  alarm
  android
  angry
  apple
  arrow-circle
  arrow-up-left
  arrow-up
  barchart
  blackberry
  book
  bookmark
  breadcrumb
  calculator
  calendar
  car
  checkbox-tick
  chevron-right
  clock
  close
  cog
  credit-card
  cross
  desktop
  doc
  down-arrow
  dual-fuel
  electric-light
  envelope
  exit-noexit
  facebook
  filter
  fixed-variable
  gas
  gauge
  github
  google
  graph-up
  happy
  home
  hot
  info
  kettle
  key
  laptop
  lock
  magnify-in
  magnify-out
  magnify
  menu
  message
  mobile
  monthly-dd
  neutral
  no-exit
  pdf
  pencil
  person-add
  person
  phone
  piggy-bank
  pin
  pound-note
  power
  present
  print
  quarterly-dd
  question-circle
  question
  quote
  recycle
  remove
  renewable
  results
  sad
  save
  share
  sim
  smiley
  sort
  speech-circle
  speech
  spinner
  star-half
  star
  starline-half
  starline
  tablet
  talk
  tick-circle
  tick
  tv
  twitter
  uswitch
  variable
  warning-circle
  warning
  wifi
  wiki
  windows
  wondering
  world
  xml
  play
  controller
  pound-circle
  ustyle
) !default;

$needs-font: true;
$load-icons: true;

$header-height: 110px;

// Ustyle imports
@import "ustyle/content";

$sidebar-width          : 250px;
$sidebar-bg-color       : $c-bggrey;
$sidebar-breakpoint     : tablet;
$sidebar-side-visibility: desktop;
$sidebar-top-push       : $gutter-width/2;
$sidebar-padding        : 0;

@import "structure/base";
@import "structure/header";

@import "modules/links";
@import "modules/made-at";
@import "modules/sidebar";
@import "modules/styleguide";
@import "modules/colours";
@import "modules/nav-mobile";
@import "modules/version";
@import "modules/logo";
@import "modules/nav";
@import "modules/grid";
@import "modules/code";
@import "modules/states";
@import "modules/copyright";
@import "modules/home";
@import "modules/tooltip";
@import "modules/table";
@import "modules/markdown";
@import "modules/typography";

@import "vendor/highlight";
@import "vendor/pure-table";

@import "ustyle/icons/base";
@import "ustyle/icons/svg";
@import "ustyle/icons/png";
