$hero-padding-top: 1em;
$needs-font: true;
$load-icons: true;

$header-height: 110px;

// Ustyle imports
@import "ustyle/content";

$sidebar-width          : 250px;
$sidebar-bg-color       : $c-bggrey;
$sidebar-breakpoint     : tablet;
$sidebar-side-visibility: desktop;
$sidebar-top-push       : $gutter-width/2;
$sidebar-padding        : 0;

@import "structure/base",
        "structure/header";

@import "modules/highlight",
        "modules/sidebar",
        "modules/styleguide",
        "modules/colours",
        "modules/nav-mobile",
        "modules/version",
        "modules/logo",
        "modules/nav",
        "modules/grid",
        "modules/code",
        "modules/states",
        "modules/copyright",
        "modules/home",
        "modules/tooltip",
        "modules/table",
        "modules/markdown";

@import "vendor/pure-table";

@import "ustyle/icons/base";
@import "ustyle/icons/svg";
@import "ustyle/icons/png";
