// $hero-padding-top: 1em;
$needs-font: true;

$header-height: 110px;

// Ustyle imports
@import "ustyle/rebrand/content";

$sidebar-width          : 250px;
$sidebar-bg-color       : $c-bggrey;
$sidebar-breakpoint     : tablet;
$sidebar-side-visibility: desktop;
$sidebar-top-push       : $gutter-width/2;
$sidebar-padding        : 0;

@import "structure/base";
@import "structure/header";

@import "modules/links";
@import "modules/made-at";
@import "modules/sidebar";
@import "modules/styleguide";
@import "modules/colours";
@import "modules/nav-mobile";
@import "modules/version";
@import "modules/logo";
@import "modules/nav";
@import "modules/grid";
@import "modules/code";
@import "modules/states";
@import "modules/copyright";
@import "modules/home";
@import "modules/tooltip";
@import "modules/table";
@import "modules/markdown";
@import "modules/images";
@import "modules/typography";

@import "vendor/highlight";
@import "vendor/pure-table";

@import "ustyle/rebrand/icons/base";
